/* -----------------------------------------------------
Fonts
----------------------------------------------------- */
//@import url('http://fonts.cdnfonts.com/css/graphik');
//@import "../css/font.css";

@font-face {
    font-family: 'Graphik700Bold';
    src: url('../fonts/Graphik700Bold.eot');
    src: url('../fonts/Graphik700Bold.eot') format('embedded-opentype'),
         url('../fonts/Graphik700Bold.woff2') format('woff2'),
         url('../fonts/Graphik700Bold.woff') format('woff'),
         url('../fonts/Graphik700Bold.ttf') format('truetype'),
         url('../fonts/Graphik700Bold.svg#Graphik700Bold') format('svg');
}
@font-face {
    font-family: 'Graphik400Regular';
    src: url('../fonts/Graphik400Regular.eot');
    src: url('../fonts/Graphik400Regular.eot') format('embedded-opentype'),
         url('../fonts/Graphik400Regular.woff2') format('woff2'),
         url('../fonts/Graphik400Regular.woff') format('woff'),
         url('../fonts/Graphik400Regular.ttf') format('truetype'),
         url('../fonts/Graphik400Regular.svg#Graphik400Regular') format('svg');
}
@font-face {
    font-family: 'Graphik500Medium';
    src: url('../fonts/Graphik500Medium.eot');
    src: url('../fonts/Graphik500Medium.eot') format('embedded-opentype'),
         url('../fonts/Graphik500Medium.woff2') format('woff2'),
         url('../fonts/Graphik500Medium.woff') format('woff'),
         url('../fonts/Graphik500Medium.ttf') format('truetype'),
         url('../fonts/Graphik500Medium.svg#Graphik500Medium') format('svg');
}

.fontRegular{
    font-family: 'Graphik400Regular';
}
.fontMedium{
    font-family: 'Graphik500Medium';
}
.fontBold{
    font-family: 'Graphik700Bold';
}

/* -----------------------------------------------------
Sizes
----------------------------------------------------- */
$s6: 0.375rem;
$s8: 0.5rem;
$s10: 0.625rem;
$s12: 0.75rem;
$s14: 0.875rem;
$s16: 1rem;
$s18: 1.125rem;
$s20: 1.25rem;
$s22: 1.375rem;
$s24: 1.5rem;
$s26: 1.625rem;
$s28: 1.75rem;
$s30: 1.875rem;
$s32: 2rem;
$s38: 2.375rem;
$s40: 2.5rem;
$s42: 2.625rem;
$s46: 2.875rem;
$s48: 3rem;
$s60: 3.75rem;
$s64: 4rem;
$s80: 5rem;
$s90: 5.625rem;

.font-6{font-size: $s6;}
.font-8{font-size: $s8;}
.font-10{font-size: $s10;}
.font-12{font-size: $s12;}
.font-14{font-size: $s14;}
.font-16{font-size: $s16;}
.font-18{font-size: $s18;}
.font-20{font-size: $s20;}
.font-22{font-size: $s22;}
.font-24{font-size: $s24;}
.font-26{font-size: $s26;}
.font-28{font-size: $s28;}
.font-30{font-size: $s30;}
.font-32{font-size: $s32;}
.font-38{font-size: $s38;}
.font-40{font-size: $s40;}
.font-40{font-size: $s40;}
.font-42{font-size: $s42;}
.font-46{font-size: $s46;}
.font-48{font-size: $s48;}
.font-60{font-size: $s60;}
.font-64{font-size: $s64;}
.font-80{font-size: $s80;}
.font-90{font-size: $s90;}

/* -----------------------------------------------------
Colors
----------------------------------------------------- */
$blue: #00A3DA;
$navy: #005093;
$white: #FFFFFF;
$black: #000000;
$grey: #F2F5F7;
$green: #00AF77;
$red: #F46251;
$pink: #B863C6;
$yellow: #FEBE12;
$orange: #DAA06C;
.navy{color: $navy !important;}
.blue{color: $blue !important;}
.green{color: $green !important;}
.red{color: $red !important;}
.pink{color: $pink !important;}
.yellow{color: $yellow !important;}
.orange{color: $yellow !important;}
.white{color: $white !important;
    &::-webkit-input-placeholder { /* Edge */
        color: $white ;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $white ;
    }

    &::placeholder {
        color: $white ;
    }
}
.black{color: $black !important;}
.grey{color: $grey !important;}

.bgBlue{background-color: $blue;}
.bgNavy{background-color: $navy;}
.bgWhite{background-color: $white;}
.bgBlack{background-color: $black;}
.bgGrey{background-color: $grey;}
.bgTransparent{background-color: rgba($color: $white, $alpha: .4);}

.gradient-left{background: linear-gradient(to left, $navy, $blue);}
.gradient-right{background: linear-gradient(to right,$navy, $blue);}
.ar .gradient-right{background: linear-gradient(to left,$navy, $blue);}
.gradient-buttom{background: linear-gradient( $navy, $blue);}
.gradient-top{background: linear-gradient($blue,$navy);}
.gradient-txt{background: linear-gradient(rgba($color: $black, $alpha: 0),rgba($color: $black, $alpha: 1.0));}
body{
    font-family: 'Graphik', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}
.opacity-25{
    opacity: .25;
}
.border-0{
    //border: 0 !important;
    //border-bottom-right-radius: 0 !important;
    //border-bottom-left-radius:  0 !important;
    //border-top-left-radius: 0 !important;
    //border-top-right-radius: 0 !important;
}
.btn{
    width: 327px;
    border: 1px solid $black;
    &.btn-bigger{
        width: 360px;
        &.p-lg-absolute{
            bottom: -28px;
            right: 50px;
        }
    }
}

.automotive, .innovation, .healthcare, .financial{
    color: $green;
    &.active{
        color: $white;
        background: $green;
    }
}
.retail{
    color: $red;
    &.active{
        color: $white;
        background: $red;
    }
}
.education{
    color: $blue;
    &.active{
        color: $white;
        background: $blue;
    }
}
.estate{
    color: #B863C6;
    &.active{
        color: $white;
        background: #B863C6;
    }
}
.tag{
    padding: 8px 16px;
    border: 1px solid $black;
    color: $black;
    border-radius: 19px;
    line-height: 100%;
    &:hover{
        color: $black;
    }
    &.active{
        background: $navy;
        color: $white;
        border: 1px solid $navy;
    }
    &.automotive, &.innovation, &.healthcare, &.financial{
        color: $white;
        background: $green;
        border: 1px solid $green;
        &:hover{
            color: $white;
        }
    }
    &.retail{
        color: $white;
        background: $red;
        border: 1px solid $red;
        &:hover{
            color: $white;
        }
    }
    &.education{
        color: $white;
        background: $blue;
        border: 1px solid $blue;
        &:hover{
            color: $white;
        }
    }
    &.estate{
        color: $white;
        background: #B863C6;
        border: 1px solid #B863C6;
        &:hover{
            color: $white;
        }
    }
    &.interest{
        color: $white;
        border:1px solid $white;
        &.active{
            color: $navy;
            background: $white;
            &::after{
                content: "";
                background: url(../images/static/close-navy.svg) no-repeat;
                background-size: cover;
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-left: 30px;
            }
           
        }
    }
    &.strength{
        color: $white;
        background: $navy;
        &::after{
            content: "";
            background: url(../images/static/close.svg) no-repeat;
            background-size: cover;
            width: 8px;
            height: 8px;
            display: inline-block;
            margin-left: 30px;
        }
    }
}


/* -----------------------------------------------------
Styles
----------------------------------------------------- */

.rotate{transform: rotate(45deg)}
.translate{transform: rotate(45deg) translateY(50%)}
.w-50-fit{
    width: calc(50% - 4px);
    display: inline-block;
}
.w-10{
    width: calc( 10% - 3px);
    display: inline-block;
}
.w-20{
    width: calc( 20% - 3px);
    display: inline-block;
}
.w-30{
    width: calc( 30% - 3px) !important;
    display: inline-block;
}
.w-40{
    width: calc( 40% - 3px) !important;
    display: inline-block;
}
.w-45{
    width: calc( 45% - 3px) !important;
    display: inline-block;
}
.w-55{
    width: calc( 55% - 3px) !important;
    display: inline-block;
}
.w-60{
    width: calc( 60% - 3px) !important;
    display: inline-block;
}
.w-70{
    width: calc( 70% - 3px);
    display: inline-block;
}
.h-60{
    height: calc( 60% - 3px);
}
.h-85{
    height: 85%;
}
.h-70{
    height: calc( 70% - 3px);
}
.w-80{
    width: calc( 80% - 3px);
    display: inline-block;
}
.w-90{
    width: calc( 90% - 3px);
    display: inline-block;
}
.img-wrapper{
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $black, $alpha: .3);
    }
    &.no-dark-overlay{
        &::after{
            background-color: rgba($color: $white, $alpha: .3);
        }
    }
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
    &.top-left{
        top:0;
        left: 0;
        bottom: initial;
    }
    &.top-right{
        top:0;
        right: 0;
        bottom: initial;
    }
    &.bottom-left{
        bottom:0;
        left: 0;
        top: initial;
    }
    &.bottom-right{
        bottom:0;
        right: 0;
        top: initial;
    }
    &.center-y{
        top: 50%;
        transform: translateY(-50%);
    }
    &.center-x{
        left: 50%;
        transform: translateX(-50%);
    }
    &.center{
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    &.right{right: 0;}
    &.left{left: 0;}
}
.p-lg-absolute{
    position: absolute;
    &.top-left{
        top:0;
        left: 0;
        bottom: initial;
    }
    &.top-right{
        top:0;
        right: 0;
        bottom: initial;
    }
    &.bottom-left{
        bottom:0;
        left: 0;
        top: initial;
    }
    &.bottom-right{
        bottom:0;
        right: 0;
        top: initial;
    }
    &.center-y{
        top: 50%;
        transform: translateY(-50%);
    }
    &.center-x{
        left: 50%;
        transform: translateX(-50%);
    }
    &.center{
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    &.right{right: 0;}
    &.left{left: 0;}
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}
.cubicTransition{
    transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.rect{
    &.s6{
        width: $s6;
        height: $s6;
    }
    &.s8{
        width: $s8;
        height: $s8;
    }
    &.s12{
        width: $s12;
        height: $s12;
    }
    &.s16{
        width: $s16;
        height: $s16;
    }
    &.s20{
        width: $s20;
        height: $s20;
    }
    &.s24{
        width: $s24;
        height: $s24;
    }
    &.s28{
        width: $s28;
        height: $s28;
    }
    &.s30{
        width: $s30;
        height: $s30;
    }
    &.s40{
        width: $s40;
        height: $s40;
    }
    &.s48{
        width: $s48;
        height: $s48;
    }
    &.s60{
        width: $s60;
        height: $s60;
    }
    &.s80{
        width: $s80;
        height: $s80;
    }
    &.s90{
        width: $s90;
        height: $s90;
    }
}
.half-opacity{
    opacity: .5;
}
.px-8 {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
}
.px-16 {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}
.m-top-200{
    margin-top: 200px;
}
.p-top-48{
    padding-top: 48px;
}
.py-200{
    padding: 200px 0;
}
.py-80{
    padding: 160px 0;
}
.py-80{
    padding: 80px 0;
}
.px-15{
    padding: 0 13px;
}
.no-bg{background-color: transparent !important}
a, button{
    opacity: 1;
    //@extend.cubicTransition;
    &:hover{
        opacity: .5;
    }
}
button{
    padding: 8px 16px;
    letter-spacing: 2px;
    img{
        width: $s8;
        height: $s8;
        object-fit: contain;
        margin-top: .4rem;
        margin-bottom: .4rem;
    }
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
.accordion-social{
    width: 25px;
    height: 25px;
}
.square{
    padding-top: 100%;
}
.rectangle{
    padding-top: 48.5%;
}
.rectangle-v{
    padding-top: 150%;
}
.rectangle-ve{
    padding-top: 135%;
}
.between-sizes{
    padding-top: 65%;
}
.bigger-between-sizes{
    padding-top: 73%;
}
.swiper-pagination-progressbar{
    height: 8px !important;
    border-radius: 3px;
    overflow: hidden;
    .swiper-pagination-progressbar-fill{
        background-color: $navy;
        border-radius: 3px;
    }
}
.listing{
    height: 100%;
    .listing-anchor{
        .listing-hover{
            opacity: 0;
            visibility: hidden;
            //transform: translateY(-100px);
            //@extend.cubicTransition;
            .low-opacity{
                opacity: 0.2;
                bottom: 20%;
                left: -5%;
            }
        }
        .hidden-details{
            opacity: 0;
            visibility: hidden;
            @extend.cubicTransition;
            font-size: 0;
            display: none;
        }
        &:hover{
            opacity: 1;
            .listing-hover{
                opacity: 1;
                visibility: visible;
                //transform: translateY(0);
            }
            .hidden-details{
                display: block;
                opacity: 1;
                visibility: visible;
                font-size: 1.125rem;
            }
        }
    }
    &.listing-particular{
        .listing-anchor{
            &:hover {
                .listing-hover{
                    opacity: .8;
                }
            }
        }
    }
}
.input-wrapper{
    min-height: 50px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: $blue;
    }
}
.grey-patern{
    position: absolute;
    top: 60%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
    &::after{
        display: none;
    }
    &.home-patern{
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
    &.article-patern{
        top: 36%;
        right: 0;
        overflow: hidden;
        img{
            transform: translateX(30%);
        }
    }
    &.story-patern{
        top: 36%;
        left: 0;
        transform: translateX(-45%);
    }
    &.about-patern{
        left: 0; 
        top: 38%;
        img{
            transform: translateX(-30%);
        }
    }
}
.tooltip-inner{
    border: none;
    border-radius: 0;
    background-color: $white;
    color: $black;
    padding: 5px;
}
.tooltip-arrow{
    &:before{
        border-top-color: $white !important;
    }
}
.hideItem { /* You can play with the seconds to change the "animation" */
    animation: hideItem .5s ease 0s 1 normal forwards;
    transform-origin: center;
    display: none;
}
.showItem { /* You can play with the seconds to change the "animation" */
    animation: showItem .5s ease 0s 1 normal forwards;    
    transform-origin: center;
    display: block;
}

@keyframes hideItem {
    0%{
        transform: scale(1);
        display: block;     
    }
    100% {
        transform: scale(0);        
        width: 0;
        height: 0;
        margin: 0;
        display: none;
    }
}
@keyframes showItem {
    0%{
        transform: scale(0);     
        width: 0;
        height: 0;
        margin: 0; 
        display: none;  
    }
    100% {
        transform: scale(1);  
        display: block;   
    }
}
$imgRatio: 500px;
.clipped-images{
    img{
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transform: translate(-50% , -50%);
        //right: -100px;
        right: 0;
        &:first-child(){
            width: 400px;
            height: 400px;
            top: 50%;
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4){
            width: 200px;
            height: 200px;
        }
        &:nth-child(2){
            top: calc(50% - 100px - 10px);
        }
        &:nth-child(3){
            top: calc(50% + 100px + 10px);
        }
        &:nth-child(4){
            top: calc(50%);
            //right: -200px;
            right: -105px;
        }
    }
}
.ar{
    .clipped-images{
        img{
            transform: translate(-50% , -50%) scaleX(-1);
        }
    }
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px dashed rgba($color: $white, $alpha: .5);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    
}

.fixed-bottom{
    .accordion-body{
        .progressbar {
            counter-reset: step;
            clear: both;
            li{
                width: 20%;
                float: left;
                position: relative;
                text-align: center;
                &:before {
                    transform: rotate(45deg);
                    background-color: transparent;
                    content: counter(step);
                    counter-increment: step;
                    width: 15px;
                    height: 15px;
                    display: block;
                    color: transparent;
                    border: 1px solid $white;
                    margin: 0 auto 10px;
                }
                &:after {
                    background-color: $white;
                    content: '';
                    width: 87%;
                    height: 1px;
                    position: absolute;
                    left: -43%;
                    top: 7px;
                    z-index: 0;
                }
                &:first-child:after {
                    content: none; 
                }
                &.active{
                    &::before{
                       background: #FFFFFF!important;
                    }
                }
            }
        }
    }

    #slider-div {
        display: flex;
        flex-direction: row;
    }
    #slider-div>div {
        margin: 8px;
    }
    .slider-label {
        color: $white;
        position: absolute;
        padding: 4px;
        font-size: 0.75rem;
        bottom: 0!important;
        &::after{
            content: " Yrs";
        }
    }
    .slider{
        &.slider-horizontal{
            width: 100%!important;
            height: 28px!important;
            &::after{
                transform: rotate(90deg);
                content: "_";
                color: white;
                position: absolute;
                right: -13px;
                width: 10px;
            }
        }
    }
    .slider-track{
        height: 1px!important;
    }
    .slider-selection {
        height: 3px!important;
    }
    .slider-handle{
        background: white!important;
    }
}
.swiper-navigation-wrapper{
    height: 20px;
}
.swiper-button-next, .swiper-button-prev{
    width: 20px;
    height: 20px;
    //transform: translateY(50%);
    left: inherit;
    right: inherit;
    margin-top: 0;
    transform: translateY(-50%);
    &:after{
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

}
.swiper-button-next{
    &:after{
        background-image: url("../images/static/arrow-right-navy.svg");
    }
}
.swiper-button-prev{
    &:after{
        background-image: url("../images/static/arrow-left-navy.svg");
    }
}









.ar{
    button{
        letter-spacing: 0;
    }
    .p-absolute{
        &.right {
            left: 0;
            right: inherit;
        }
    }
    .top-left, .bottom-left{
        left: inherit;
        right: 0;
    }
    .top-right, .bottom-right{
        right: inherit;
        left: 0;
    }
    .center-x{
        right: 50%;
        transform: translateX(50%);
    }

    .btn{
        &.btn-bigger{
            &.p-lg-absolute {
                left: 50px;
                right: inherit;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev{
        left: inherit;
        right: inherit;
        &:after{
            content: '';
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    
    }
    .swiper-button-next{
        &:after{
            background-image: url("../images/static/arrow-left-navy.svg");
        }
    }
    .swiper-button-prev{
        &:after{
            background-image: url("../images/static/arrow-right-navy.svg");
        }
    }
    button{
        letter-spacing: 0;
    }
    .grey-patern{
        &.story-patern{
            transform: translateX(45%);
        }
    }
    
}











@media (min-width: 1441px){
}
// commun Styles between Large and Extra Large devices
@media (min-width: 992px) and (max-width: 1440px){
    .font-80{font-size: $s64;}
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1440px){}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px){
}


// Comon mobile & Tablet
@media (min-width: 100px) and (max-width: 1000px){
    .py-200{
        padding: 20px 0;
    }
    .p-lg-absolute{
        position: relative;
    }
    .w-80, .w-70, .w-60, .w-50, .w-40, .w-30, .w-20{
        width: 100% !important;
        &.px-8{
            //width: calc(100% - 4.5rem) !important;
        }
        &.state-content{
            width: calc(100% - 30px) !important;
        }
        &.swiper-pagination{
            width: 50% !important;
        }
    }
    .program-swiper{
        .w-80{
            width: 80% !important;
        }
    }
    header{
        .w-10{
            width: calc( 30% - 3px) !important;
            display: inline-block;
        }
        .w-80{
            width: calc( 80% - 3px) !important;
            display: inline-block;
        }
    }
    .rectangle, .rectangle-v, .between-sizes, .bigger-between-sizes{
        padding-top: 100%;
    }
    .font-24{
        font-size: $s18;
    }
    .font-32{
        font-size: $s24;
    }
    .font-48 {
        font-size: $s30;
    }
    .font-60{
        font-size: $s32;
    }
    .font-64{
        font-size: $s32;
    }
    .font-80{
        font-size: 2.3rem;
    }
    /* $s14: 0.75rem;
    $s16: 0.875rem;
    $s18: 1rem;
    $s20: 1.125rem;
    $s22: 1.25rem;
    $s24: 1.375rem;
    $s26: 1.5rem;
    $s28: 1.625rem;
    $s30: 1.75rem;
    $s32: 1.875rem;
    $s38: 2rem;
    $s40: 2.375rem;
    $s42: 2.5rem;
    $s46: 2.625rem;
    $s48: 2.875rem;
    $s60: 3rem;
    $s64: 3.75rem;
    $s80: 4rem;
    $s90: 5rem; */
    .rect{
        &.s8{
            width: $s6;
            height: $s6;
        }
        &.s12{
            width: $s8;
            height: $s8;
        }
        &.s16{
            width: $s12;
            height: $s12;
        }
        &.s20{
            width: $s16;
            height: $s16;
        }
        &.s28{
            width: $s20;
            height: $s20;
        }
        &.s30{
            width: $s26;
            height: $s26;
        }
        &.s40{
            width: $s30;
            height: $s30;
        }
        &.s48{
            width: $s40;
            height: $s40;
        }
        &.s60{
            width: $s48;
            height: $s48;
        }
        &.s80{
            width: $s60;
            height: $s60;
        }
        &.s90{
            width: $s80;
            height: $s80;
        }
    }
    .px-16 {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
    .px-8 {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    .clipped-images{ 
        //min-height: 400px;
        display: none;
        /* img{
            &:first-child(){
                width: 200px;
                height: 200px;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4){
                width: 200px;
                height: 200px;
            }
            &:nth-child(2){
                top: calc(50% - 50px - 5px);
            }
            &:nth-child(3){
                top: calc(50% + 50px + 5px);
            }
            &:nth-child(4){
                right: -200px;
            }
        } */
    }
    .btn{
        &.btn-bigger{
            //width: 100%;
            &.p-lg-absolute{
                bottom: inherit;
                right: inherit;
            }
        }
    }
    .swiper-navigation-wrapper{
        height: 48px;
    }
    .py-80{
        padding: 40px 0;
    }
    .ar{
        .btn{
            &.btn-bigger{
                &.p-lg-absolute {
                    left: 0;
                }
            }
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
    .btn{
        &.btn-bigger{
            width: 100%;
        }
    }
}