@import "common.scss";

body{
    min-height: 100%;
}

.home-page {
    header{
        transform: translateY(-100%);
        @extend.cubicTransition;
        &.loaded{
            transform: translateY(0);
            transition-delay: 1s;
        }
    }
    .initial-state{
        .img-wrapper{
            transform: translateX(-100%);
            @extend.cubicTransition;
            &.loaded{
                transform: translateX(0);
            }
        }
        .state-content{
            top: 30%;
            transform: translateY(-30%) translateX(-150%);
            @extend.cubicTransition;
            &.loaded{
                transform: translateY(-30%) translateX(0);
                transition-delay: 1s;
            }
        }
    }
    .accordion{
        opacity: 0;
        @extend.cubicTransition;
        &.loaded{
            opacity: 1;
            transition-delay: 1s;
        }
    }
}
///////////////////////////// HEADER /////////////////////////////
header{
    transform: translateY(0);
}


main{
    height: 120vh;
    .state{
        height: 120vh;
    }
    .state-content{
        left: 10%;
    }
    .mySwiper2{
        transform: translateX(-100%);
        @extend.cubicTransition;
        &.translate-x{
            transform: translateX(0);
        }
    }
    .mySwiper{
        .swiper-slide{
            opacity: 0;
            transform: translateY(200px) rotateY(180deg);
            &.t {
                animation: fade 1s forwards;
            }
            @keyframes fade {
                0%   { opacity: 0; transform: translateY(200px) rotateY(180deg); }
                100% { opacity: 1; transform: translateY(200px) rotateY(0); }
            }
        }
    }
    .initial-state{
        .img-wrapper{
            transform: translateX(0);
        }
        .state-content{
            top: 30%;
            transform: translateY(-30%);
        }
    }
}
.v-swiper-wrapper{
    max-height: 632px;
    overflow: hidden;
    .swiper-container, .swiper-wrapper, .swiper-slide{
        width: 100%;
        height: 100%;
    }
}
.accordion{
    opacity: 1;
}
/* $rectRatio: 150px;
$rectRatioMax: 210px; // $rectRatio + 25px on each side
$rectRatioMin: 105px; */ // $rectRatioMax / 2
$rectRatio: 120px;
$rectRatioMax: 170px;
$rectRatioMin: 85px;
.mySwiper {
    height: 90vh;
    width: 60vw;
    .swiper-slide{
        width: $rectRatio !important;
        height: $rectRatio !important;
        position: absolute;
        margin-top: 30px;
        margin-right: 0 !important;
        //opacity: 1 !important;
        cursor: pointer;
        &:before {
            position: absolute;
            display: block;
            content: "";
            width: $rectRatio;
            height: $rectRatio;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.5);
            background: rgba($color: $white, $alpha: .16);
        }
        .swiper-slide-inner {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          &:before {
            position: absolute;
            display: block;
            content: "";
            width: $rectRatio;
            height: $rectRatio;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 1px solid $white;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        &:first-child(){
            top:0;
            left: 50%;
        }
        &:nth-child(2){
            top: calc(#{$rectRatioMax} / 2);
            left: calc(50% - #{$rectRatioMin});
        }
        &:nth-child(3){
            top: calc(#{$rectRatioMax} / 2);
            left: calc(50% + #{$rectRatioMin});
        }
        &:nth-child(4){
            top: #{$rectRatioMax};
            left: calc(50% - #{$rectRatioMax});
        }
        &:nth-child(5){
            top: #{$rectRatioMax};
            left: calc(50% + #{$rectRatioMax});
        }
        &:nth-child(6){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(50% - calc(#{$rectRatioMax} + #{$rectRatioMin}));
        }
        &:nth-child(7){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(50% + calc(#{$rectRatioMax} + #{$rectRatioMin}));
        }
        &:nth-child(8){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(50% - #{$rectRatioMin});
        }
        &:nth-child(9){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(50% + #{$rectRatioMin});
        }
        &:nth-child(10){
            top: calc(#{$rectRatioMax} * 2);
            left: 50%;
        }
        &:nth-child(11){
            top: calc(#{$rectRatioMax} + calc(#{$rectRatioMax} + #{$rectRatioMin}));
            left: calc(50% - #{$rectRatioMin});
        }
        &:nth-child(12){
            top: calc(#{$rectRatioMax} + calc(#{$rectRatioMax} + #{$rectRatioMin}));
            left: calc(50% + #{$rectRatioMin});
        }
        .slide-hover-content{
            opacity: 0;
            @extend.cubicTransition;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                transform: scale(1.4);
            }
        }
        &:hover, &.active{
            .slide-hover-content{
                opacity: 1;
            }
        }
    }
      
}
.tab-pane{
    max-height: 632px;
    .swiper-container{
        width: 100%;
        height: 100%;
    }
}

///////////////////////////// ACCORDION FIXED /////////////////////////////
.accordion-button{
    &::after{
        background-image: url("../images/static/burger.svg");
        background-size: cover;
    }
    &:not(.collapsed){
        &::after{
            background-image: url("../images/static/close.svg");
        }
    }
}
.accordion-collapse{
    background-image: url("../images/dynamic/accordion-patern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .accordion-patern{
        height: 100%;
        top: 0;
    }
}

.less{
    img{
        transform: rotate(180deg);
    }
}
.partners-tabs{
    .nav-tabs {
        .nav-link{
            border-bottom: 3px solid transparent;
            &.active{
                border: 0;
                border-bottom: 3px solid grey;
                opacity: 1;
                @extend.fontBold;
            }
        }
    }
}
.partners-logo{
    &.active{
        box-shadow: 0px 0px 24px 8px rgba($color: $blue, $alpha: .16);
    }
}
.mySwiper4{
    height: 838px !important;
    overflow: hidden;
    .swiper-pagination-bullet {
        width: 4px;
        height: 50px;
        border-radius: 0;
        background: $navy;
    }
}
.map-pins-list{
    a{
        background-color: rgba($color: $navy, $alpha: .1);
        &:first-child(){
            top: 39%;
            left: 49%;
        }
    }
}
.logo-shape{
    /* left: 53.9%;
    position: absolute;
    top: 61.5%;
    transform: translate(-50%, -50%);
    width: 44.2%;
    height: 73.5%; */
    left: 53.9%;
    position: absolute;
    top: 46%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 595px;
    img, svg{
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
    }
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s linear alternate infinite;
  }
  
@keyframes dash {
    from {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}


///////////////////////////// FOOTER /////////////////////////////
footer{
    clip-path: polygon(0% 45px, calc(50% - 45px) 45px, 50% 0, calc(50% + 45px) 45px, 100% 45px, 100% 100%, 0% 100%);
}





@media (min-width: 1441px){
}
// commun Styles between Large and Extra Large devices
@media (min-width: 992px) and (max-width: 1440px){
    $rectRatio: 120px;
    $rectRatioMax: 170px; // $rectRatio + 25px on each side
    $rectRatioMin: 85px;
    .mySwiper {
        height: 120vh;
    }
    .mySwiper4{
        height: 440px !important;
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1440px){}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px){
}


// Comon mobile & Tablet
@media (min-width: 100px) and (max-width: 1000px){
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){}