@import "common.scss";

body{
    min-height: 100%;
}
html[lang="ar"]{
    font-size: 19px;
}
///////////////////////////// HEADER /////////////////////////////
header{
    transform: translateY(0);
    z-index: 1033 !important;
    .navbar-nav {
        .nav-link{
            position: relative;
            color: $black;
            &.active{
                @extend.fontBold;
                &:after{
                    content:'';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    width: 8px;
                    height: 8px;
                    background-color: $navy;
                }
            }
        }
    }
    .logo-wrapper{
        //width: 50%;
    }
}

main{
    height: 100vh;
    .state{
        height: 100vh;
    }
    .state-content{
        left: 10%;
        .w-80{
            width: calc( 75% - 3px);
        }
    }
    .home-swiper-mobile, .mySwiper2{
        height: 120vh;
        .swiper-slide{
            .img-wrapper{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
            }
        }
    }
    .mySwiper2{
        opacity: 0;
        visibility: hidden;
        @extend.cubicTransition;
        &.translate-x{
            opacity: 1;
            visibility: visible;
        }
        .swiper-slide{
            .state-content{
                transform: translateY(-30%) translateX(-150%);
                @extend.cubicTransition;
                opacity: 0;
                visibility: hidden;
            }
            &.swiper-slide-active{
                .state-content{
                    transform: translateY(-30%) !important;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .initial-state{
        .img-wrapper{
            transform: translateX(0);
        }
        .state-content{
            //top: 50%;
            //transform: translateY(-50%);
        }
    }
}
.v-swiper-wrapper{
    //max-height: 984px;
    overflow: hidden;
    .swiper-container, .swiper-wrapper, .swiper-slide{
        width: 100%;
        height: 100%;
    }
}
.fixed-bar{
    position: absolute;
    top: calc(100vh - 52px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.paragraph{
    border-bottom: 1px solid #00A3DA;
}
.gradient-image{
    position: absolute;
    height: 80px;
    bottom: 43px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    width: 80%;
}
/* $rectRatio: 150px;
$rectRatioMax: 210px; // $rectRatio + 25px on each side
$rectRatioMin: 105px; */ // $rectRatioMax / 2
$rectRatio: 120px;
$rectRatioMax: 170px;
$rectRatioMin: 85px;
.mySwiper {
    height: 90vh;
    width: 60vw;
    .swiper-slide{
        width: $rectRatio !important;
        height: $rectRatio !important;
        position: absolute;
        margin-top: 30px;
        margin-right: 0 !important;
        cursor: pointer;
        opacity: 0;
        transform: translateY(140px) rotateY(180deg);
        //transition-delay: 2s;
        @extend.cubicTransition;
        &:before {
            position: absolute;
            display: block;
            content: "";
            width: $rectRatio;
            height: $rectRatio;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.5);
            background: rgba($color: $white, $alpha: .16);
        }
        .swiper-slide-inner {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          &:before {
            position: absolute;
            display: block;
            content: "";
            width: $rectRatio;
            height: $rectRatio;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 1px solid $white;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        &:first-child(){
            top:0;
            left: 45%;
        }
        &:nth-child(2){
            top: calc(#{$rectRatioMax} / 2);
            left: calc(45% - #{$rectRatioMin});
        }
        &:nth-child(3){
            top: calc(#{$rectRatioMax} / 2);
            left: calc(45% + #{$rectRatioMin});
        }
        &:nth-child(4){
            top: #{$rectRatioMax};
            left: calc(45% - #{$rectRatioMax});
        }
        &:nth-child(5){
            top: #{$rectRatioMax};
            left: calc(45% + #{$rectRatioMax});
        }
        &:nth-child(6){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(45% - calc(#{$rectRatioMax} + #{$rectRatioMin}));
        }
        &:nth-child(7){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(45% + calc(#{$rectRatioMax} + #{$rectRatioMin}));
        }
        &:nth-child(8){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(45% - #{$rectRatioMin});
        }
        &:nth-child(9){
            top: calc(#{$rectRatioMax} + #{$rectRatioMin});
            left: calc(45% + #{$rectRatioMin});
        }
        &:nth-child(10){
            top: calc(#{$rectRatioMax} * 2);
            left: 45%;
        }
        &:nth-child(11){
            top: calc(#{$rectRatioMax} + calc(#{$rectRatioMax} + #{$rectRatioMin}));
            left: calc(45% - #{$rectRatioMin});
        }
        &:nth-child(12){
            top: calc(#{$rectRatioMax} + calc(#{$rectRatioMax} + #{$rectRatioMin}));
            left: calc(45% + #{$rectRatioMin});
        }
        .slide-hover-content{
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                transform: scale(1.4);
                @extend.cubicTransition;
            }
            p{
                color: $white;
                @extend.cubicTransition;
            }
            .black-overlay{
                @extend.cubicTransition;
                background-color: rgba(0,0,0,0.5);
                border: 1px solid white;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                display: block;
            }
            img, p,.black-overlay{
                opacity: 0;
                visibility: hidden;
            }
        }
        &:hover{
            .slide-hover-content{
                img,p,.black-overlay{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &.active{
            &:before{
                background-color: $white;
            }
            .slide-hover-content{
                img{
                    opacity: 0;
                    visibility: hidden;
                }
                p{
                    color: $black;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &.loaded{
            opacity: 1;
            transform: translateY(140px) rotateY(0);
        }
    }
      
}
.tab-pane{
    //max-height: 984px;
    .swiper-container{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
}

///////////////////////////// ACCORDION FIXED /////////////////////////////

.fixed-bottom{
    .accordion{
        opacity: 1;
    }
    .accordion-button{
        &::after{
            background-image: url("../images/static/burger.svg");
            background-size: cover;
        }
        &:not(.collapsed){
            &::after{
                background-image: url("../images/static/close.svg");
            }
        }
    }
    .accordion-collapse{
        background-image: url("../images/dynamic/accordion-patern.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .accordion-patern{
            height: 100%;
            top: 0;
        }
    }
}

.less{
    img{
        transform: rotate(180deg);
    }
}
.partners-tabs{
    .nav-tabs {
        .nav-link{
            border-bottom: 3px solid transparent;
            letter-spacing: 1px;
            color: $black;
            &.active{
                border: 0;
                border-bottom: 3px solid grey;
                opacity: 1;
                color: $blue;
            }
        }
    }
}
.partners-logo{
    //width: calc(100% - 20px);
    //height: calc(100% - 20px);
    //top: 10px;
    //left: 10px;
    border: 1px solid rgba($color: $black, $alpha: .16);
    &.active{
        //box-shadow: 0px 0px 24px 8px rgba($color: $blue, $alpha: .16);
        border: 3px solid $blue;
    }
}
.mySwiper4{
    //height: 838px !important;
    //height: 985px !important;
    //overflow: hidden;
    .swiper-pagination-bullet {
        width: auto;
        height: auto;
        background: transparent;
        @extend.fontRegular;
        color: $navy;
        //width: 4px;
        //height: 50px;
        //border-radius: 0;
        //background: $navy;
    }
    .swiper-button-next, .swiper-button-prev{
        bottom: 5px;
        top: inherit;
    }
    .swiper-button-next{
        left: calc(50% + 130px);
        &:after{
            //width: 15px;
            //height: 25px;
        }
    }
    .swiper-button-prev{
        left: calc(50% - 130px - 27px);
    }
}
/* .swiper-container-vertical>.swiper-pagination-bullets{
    right: 9%;
} */
.map-pins-list{
    a{
        background-color: rgba($color: $navy, $alpha: .1);
        display: none;
        &.active{
            display: block;
        }
    }
}
.logo-shape{
    /* left: 53.9%;
    position: absolute;
    top: 61.5%;
    transform: translate(-50%, -50%);
    width: 44.2%;
    height: 73.5%; */
    left: 54%;
    position: absolute;
    top: 45.7%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 595px;
    img, svg{
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
    }
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s linear alternate infinite;
}
.hover-patern{
    left: -16%;
    bottom: -10px;
}
  
@keyframes dash {
    from {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.mySwiper5


///////////////////////////// ARTICLE PAGE /////////////////////////////
.mySwiper5{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


///////////////////////////// FOOTER /////////////////////////////
footer{
    z-index: 1031;
    clip-path: polygon(0% 45px, calc(50% - 45px) 45px, 50% 0, calc(50% + 45px) 45px, 100% 45px, 100% 100%, 0% 100%);
}



///////////////////////////// HOME PAGE /////////////////////////////
.home-page {
    header{
        transform: translateY(-100%);
        @extend.cubicTransition;
        &.loaded{
            transform: translateY(0);
            transition-delay: 1s;
        }
        .navbar-nav {
            .nav-link{
                color: $white;
            }
        }
    }
    .initial-state{
        .img-wrapper{
            transform: translateX(-100%);
            @extend.cubicTransition;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
            &.loaded{
                transform: translateX(0);
            }
        }
    }
    main{
        .state-content{
            top: 30%;
            //transform: translateY(-30%);
        }
        .initial-state{
            .state-content{
                top: 30%;
                transform: translateY(-30%) translateX(-150%);
                @extend.cubicTransition;
                &.loaded{
                    transform: translateY(-30%) translateX(0);
                    transition-delay: 1s;
                }
            }
        }
    }
    .fixed-bottom{
        .accordion{
            opacity: 0;
            @extend.cubicTransition;
            &.loaded{
                opacity: 1;
                transition-delay: 1s;
            }
        }
    }
    main{
        height: 120vh!important;
        .state{
            height: 120vh;
        }
    }
}
.fixed-bottom{
    .accordion-body{
        max-height: 78vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.modalSwiper2 {
    height: 80%;
    //width: 80%;
    width: 100%;
    margin-left: 0;
}
.modalSwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 20px 0;
}
.video-modal{
    .modal-dialog{
        max-width: 90vw;
        margin-left: 10vw;
        margin-right: 0;
    }
    .modal-body{
        height: 90vh;
    }
    .modal-header{
        border-bottom: none;
    }
    .btn-close{
        position: absolute;
        top: 20px;
        right: 20%;
        z-index: 1000;
    }
    .swiper-slide{
        video{
            width: 100%;
            height: 80%;
            object-fit: contain;
        }
    }
    .swiper-slide-thumb-active{
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $black, $alpha: .7);
        }
    }
    .swiper-button-next, .swiper-button-prev{ display: none;}
}

.modal-backdrop{
    background-color: $white;
    &.show{
        opacity: 1;
    }
}
.first-fold{
    margin-top: 200px;
}
.filter{
    color: $black !important;
    border-bottom: 3px solid transparent;
    padding: .8rem;
    &.active{
        color: $blue !important;
        border-bottom: 3px solid grey;
    }
    
}
.faq{
    .accordion-button{
        letter-spacing: 0;
        &::after{
            background-image: url("../images/static/plus.svg")
        }
        &:not(.collapsed){
            &::after{
                background-image: url("../images/static/minus.svg");
                transform: none;
            }
        }
    }
}
.search{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1031;
    position: absolute;
    //overflow: hidden;
    transform: translateX(100%);
    @extend.cubicTransition;
    &.open{
        transform: translateX(0);
    }
    .top-search{
        height: 94px;
    }
    .gradient-right{
        height: calc(100vh - 94px);
        overflow-y: scroll;
    }
    .accordion{
        .form-check-input{
            background-color: transparent;
            border-color: $white;
            &:checked {
                background-color: $white;
                background-image: url('../images/static/close-blue.svg');
                background-position: 2px 2px;
                background-size: calc(100% - 4px), calc(100% - 4px);
            }
        }
        .accordion-button::after{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
        }
    }
    .btn-close{
        opacity: 1;
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
        &:hover{
            opacity: .5;
        }
    }
}
.swiper-desktop{
    display: block;
}
.swiper-mobile{
    display: none;
    &.media-page{
        display: block;
    }
}
.home-swiper-mobile{
    &.media-page{
        .swiper-pagination{
            bottom: 30%;
            left: 8%;
            text-align: left;
            padding: 0 15px ;
            .swiper-pagination-bullet{
                width: 30px;
                height: 4px;
                border-radius: 0;
                background: $blue;
                &.swiper-pagination-bullet-active{
                    background: $navy;
                }
            }
        }
    }
}

textarea{
    min-height: 170px !important;
}
input, textarea{
    color: #fff !important;
    @extend.fontRegular;
    @extend.font-18;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff !important;
        @extend.fontRegular;
        @extend.font-18;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff !important;
        @extend.fontRegular;
        @extend.font-18;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff !important;
        @extend.fontRegular;
        @extend.font-18;
    }
}
.subscribe, .contact-form{
    input{
        min-height: 50px;
    }
    select{
        margin-bottom: 0;
    }
    input, textarea, select, option{
        color: #B0C0C5 !important;
        @extend.fontRegular;
        @extend.font-18;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #B0C0C5 !important;
            @extend.fontRegular;
            @extend.font-18;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #B0C0C5 !important;
            @extend.fontRegular;
            @extend.font-18;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: #B0C0C5 !important;
            @extend.fontRegular;
            @extend.font-18;
        }
    }
}

.error-page{
    height: 100vh;
}
.scroll-to-tabs{
    //@extend.cubicTransition;
    transform: translateY(-53px);
    &.bgWhite{
        transform: translateY(0px);
    }
    .progress{
        border-radius: 0;
        background-color: transparent;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .progress-bar{
            font-size: 0;
            background-color: $navy;
        }
    }
    .scroll-to-tabs-anchor{
        color: $black;
        @extend.fontRegular;
        //border-bottom: 3px solid transparent;
        &.active{
            color: $navy;
            @extend.fontMedium;
            //border-bottom: 3px solid $navy;
        }
    }
}

.swiper-franction{
    .swiper-pagination{
        position: relative;
        top: 0;
        bottom: inherit;
        @extend.fontRegular;
        .swiper-pagination-current{
            @extend.fontBold;
            padding-right: 20px;
        }
        .swiper-pagination-total{
            padding: 0 20px;
        }
    }
    .swiper-button-next, .swiper-button-prev{
        left: inherit;
        right: inherit;
        &:after{
            width: 100%;
            height: 100%;
            font-size: inherit;
            color: $navy;
            //@extend.fontBold
        }
    }
}
.program-swiper {
    .swiper-button-next, .swiper-button-prev{
        top: 20%;
    }
    .swiper-button-prev{
        left: 10px;
        right: auto;
    }
    .swiper-button-next{
        right: 10px;
        left: auto;
    }
}



///////////////////////////// TIMELINE COMPONENT /////////////////////////////
.timeline-overlay-black{
    //background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    //height: 150px;
    height: 80px;
    z-index: 10;
    left: 0;
    background-color: rgba($color: $black, $alpha: .5);
}
.cd-horizontal-timeline {
    
    opacity: 0;
    height: 776px;
    //margin: 2em auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    &::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'mobile';
        display: none;
    }
    &.loaded {
        /* show the timeline after events position has been set (using JavaScript) */
        opacity: 1;
    }
    .timeline {
        height: 13%;
        z-index: 10;
        //position: relative;
        //height: 100%;
        //width: 90%;
        //max-width: 800px;
        //margin: 0 auto;
    }
    .events-wrapper {
        position: relative;
        height: 100%;
        //margin: 0 40px;
        overflow-x: scroll;
        overflow-y: hidden;
        /* &::after, &::before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            height: 100%;
            width: 20px;
        }
        &::before {
            left: 0;
            background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
            background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
        }
        &::after {
            right: 0;
            background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
            background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
        } */
    }
    .events {
        /* this is the grey line/timeline */
        //position: absolute;
        z-index: 1;
        //left: 0;
        //top: 49px;
        //height: 2px;
        /* width will be set using JavaScript */
        //background: rgba($color: $white, $alpha: .5);
        //-webkit-transition: -webkit-transform 0.4s;
        //-moz-transition: -moz-transform 0.4s;
        //@at-root: transform 0.4s;
        width: 100% !important;
        position: relative;
        height: 100%;
        //top: 18px;
        //height: calc(100% - 18px);
        padding-left: 8px;
        ul {
            white-space: nowrap;

            &.px-5 {
                overflow-x: scroll;
                height: 100%;
                //padding-bottom: 24px;
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: 18px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: rgba($color: $white, $alpha: .5);
        }
        a {
            //position: absolute;
            //bottom: 0;
            z-index: 2;
            text-align: center;
            color: $white;
            text-decoration: none;
            /* fix bug on Safari - text flickering while timeline translates */
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            position: relative;
            left: 0 !important;
            @extend.fontRegular;
            @extend.font-16;
            opacity: 0.75;
            &::after {
                /* this is used to create the event spot */
                content: '';
                position: absolute;
                left: 50%;
                right: auto;
                -webkit-transform: rotate(45deg) translateX(-50%);
                -moz-transform: rotate(45deg) translateX(-50%);
                -ms-transform: rotate(45deg) translateX(-50%);
                -o-transform: rotate(45deg) translateX(-50%);
                transform: rotate(45deg) translateX(-50%);
                top: -32px;
                height: 8px;
                width: 8px;
                //background-color: rgba($color: $white, $alpha: .5);
                background-color: $black;
                border: 1px solid $white;
                -webkit-transition: background-color 0.3s, border-color 0.3s;
                -moz-transition: background-color 0.3s, border-color 0.3s;
                transition: background-color 0.3s, border-color 0.3s;
            }
            &.selected {
                pointer-events: none;
                opacity: 1;
                &::after {
                    background-color: $white;
                    border-color: $white;
                }
            }
            &.older-event{
                &::after {
                    border-color: $white;
                }
            }
            &:hover{
                opacity: 1;
            }
        }
        li{
            display: inline-block;
            padding: 26px 24px 0 24px;
            position: relative;
            //height: 100%;
        }
        .range-container{
            cursor: pointer;    
            padding: 20px 0 0;
            padding-left: 82px;
            width: auto;
            position: relative;
            //@extend.cubicTransition;
            li{
                opacity: 0;
                visibility: hidden;
                width: 0;
                padding: 0;
                transform: translateX(-10px);
                @extend.cubicTransition;
            }
            &:before{
                content: '';
                position: absolute;
                top: -15px;
                left: 5px;
                width: 16px;
                height: 16px;
                background-color: $white;
                transform: rotate(45deg);
            }
            &:hover,&.active{
                width: auto;
                li{
                    opacity: 1;
                    visibility: visible;
                    width: auto;
                    padding: 0 10px;
                    transform: translateX(0px);
                    @extend.cubicTransition;
                }
            }
            &.active{
                .selected{
                    @extend.blue;
                    &:after{
                        background-color: #00A3DA;
                        border-color: #00A3DA;
                    }
                }
            }
        }
    }
    .filling-line {
        /* this is used to create the green line filling the timeline */
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: $white;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    .events-content {
        width: 100%;
        //margin: 2em 0;
        overflow: hidden;
        -webkit-transition: height 0.4s;
        -moz-transition: height 0.4s;
        transition: height 0.4s;
        li {
            position: absolute;
            z-index: 1;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
            //padding: 0 5%;
            opacity: 0;
            -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
            animation-duration: 0.4s;
            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            &.selected {
                /* visible event content */
                position: relative;
                z-index: 2;
                opacity: 1;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
            }
            &.enter-right, &.leave-right {
                -webkit-animation-name: cd-enter-right;
                -moz-animation-name: cd-enter-right;
                animation-name: cd-enter-right;
            }
            &.enter-left, &.leave-left {
                -webkit-animation-name: cd-enter-left;
                -moz-animation-name: cd-enter-left;
                animation-name: cd-enter-left;
            }
            &.leave-right, &.leave-left {
                -webkit-animation-direction: reverse;
                -moz-animation-direction: reverse;
                animation-direction: reverse;
              }
        }
        /* li > * {
            max-width: 800px;
            margin: 0 auto;
        } */
        .event-content{
            top: 40%;
        }
    }
}
.timeline-arrows-wrapper{
    top: 36%;
    z-index: 2;
    .disabled{
        opacity: .5;
        cursor: not-allowed;
    }
}
.cd-timeline-navigation {
    a {
        position: absolute;
        z-index: 1;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 34px;
        width: 34px;
        border-radius: 50%;
        border: 2px solid $white;
        overflow: hidden;
        color: transparent;
        text-indent: 100%;
        white-space: nowrap;
        -webkit-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        transition: border-color 0.3s;
        &::after {
            content: '';
            position: absolute;
            height: 16px;
            width: 16px;
            left: 50%;
            top: 50%;
            bottom: auto;
            right: auto;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            //background: url(../img/cd-arrow.svg) no-repeat 0 0;
        }
        &.prev {
            left: 0;
            -webkit-transform: translateY(-50%) rotate(180deg);
            -moz-transform: translateY(-50%) rotate(180deg);
            -ms-transform: translateY(-50%) rotate(180deg);
            -o-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
        }
        &.next {
            right: 0;
        }
        &.inactive {
            cursor: not-allowed;
            &::after {
                background-position: 0 -16px;
            }
        }
    }
}

.no-touch {
    .cd-horizontal-timeline {
        .events {
            a{
                &:hover{
                    &::after {
                        background-color:$white;
                        border-color: $white;
                    }
                }
            }
        }
    }
    .cd-timeline-navigation {
        a{
            &:hover {
                border-color: $white;
            }
            &.inactive{
                &:hover {
                    border-color: $white;
                }
            }
        }
    }
}

/* always show scrollbars */

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.mySwiperTwo{
    .rectangle{
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $black, $alpha: .3);
        }
    }
}
.mySwiperOne{
    .swiper-slide-thumb-active{
        .rectangle{
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $black, $alpha: .3);
            }
        }
    }
}
.accordion-item{
    &:last-of-type {
        .accordion-button{
            &.collapsed{
                border-bottom-right-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }
    }
}
.mySwiper{
    z-index: 100;
}

.mySwiperTwo{
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 10px;
        left: auto;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 10px;
        right: auto;
    }
    .swiper-button-next:after {
        background-image: url(../images/static/arrow-right-white.svg);
    }
    .swiper-button-prev:after {
        background-image: url(../images/static/arrow-left-white.svg);
    }
}







.ar{
    .mySwiperTwo{
        .swiper-button-next, .swiper-rtl .swiper-button-prev {
            left: 10px;
            right: auto;
        }
        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            right: 10px;
            left: auto;
        }
        .swiper-button-next:after {
            background-image: url(../images/static/arrow-left-white.svg);
        }
        .swiper-button-prev:after {
            background-image: url(../images/static/arrow-right-white.svg);
        }
    }
    .hover-patern {
        right: -16%;
        left: inherit;
    }
    .mySwiper4{
        .swiper-button-next {
            right: calc(50% + 100px);
            left: inherit;
        }
        .swiper-button-prev {
            right: calc(50% - 100px - 27px);
            left: inherit;
        }
    }
    main{
        .initial-state{
            .img-wrapper{
                .main-patern-overlay{
                    transform: scaleX(-1);
                }
            }
        }
        .state-content{
            right: 10%;
            left: inherit;
        }
        .mySwiper2 {
            .swiper-slide {
                .state-content{
                    transform: translateY(-30%) translateX(150%);
                }
            }
        }
    }
    &.home-page {
        main {
            .initial-state {
                .state-content{
                    transform: translateY(-30%) translateX(150%);
                    &.loaded{
                        transform: translateY(-30%) translateX(0%);
                    }
                }
            }
        }
    }
    .mySwiper {
        .swiper-slide{
            &:first-child(){
                right: 50%;
                left: inherit;
            }
            &:nth-child(2){
                right: calc(50% - #{$rectRatioMin});
                left: inherit;
            }
            &:nth-child(3){
                right: calc(50% + #{$rectRatioMin});
                left: inherit;
            }
            &:nth-child(4){
                right: calc(50% - #{$rectRatioMax});
                left: inherit;
            }
            &:nth-child(5){
                right: calc(50% + #{$rectRatioMax});
                left: inherit;
            }
            &:nth-child(6){
                right: calc(50% - calc(#{$rectRatioMax} + #{$rectRatioMin}));
                left: inherit;
            }
            &:nth-child(7){
                right: calc(50% + calc(#{$rectRatioMax} + #{$rectRatioMin}));
                left: inherit;
            }
            &:nth-child(8){
                right: calc(50% - #{$rectRatioMin});
                left: inherit;
            }
            &:nth-child(9){
                right: calc(50% + #{$rectRatioMin});
                left: inherit;
            }
            &:nth-child(10){
                right: 50%;
                left: inherit;
            }
            &:nth-child(11){
                right: calc(50% - #{$rectRatioMin});
                left: inherit;
            }
            &:nth-child(12){
                right: calc(50% + #{$rectRatioMin});
                left: inherit;
            }
            
        }
    }
    .btn img, .content-group img, .breadcrumb-item+.breadcrumb-item::before, .timeline-arrows-wrapper a img, .acc-btn img, .flipped{
        transform: scaleX(-1);
    }
    .breadcrumb-item+.breadcrumb-item::before{
        padding-right: .5rem;
        padding-left: 0;
    }
    .input-wrapper{
        &::before{
            right: 0;
            left: inherit;
        }
    }
    /* .swiper-container-vertical > .swiper-pagination-bullets{
        left: 9%;
        right: inherit;
    } */
    .modalSwiper2{
        margin-right: 0;
        margin-left: auto;
    }
    .video-modal {
        .modal-dialog{
            margin-right: 10vw;
            margin-left: 0;
        }
        .btn-close{
            left: 20%;
            right: inherit;
        }
    }
    .search{
        right: 0;
        left: inherit;
        transform: translateX(-100%);
        &.open{
            transform: translateX(0);
        }
    }
    .cd-horizontal-timeline {
        .events {
            .range-container{
                padding-right: 82px;
                padding-left: 0;
                &:before{
                    right: 5px;
                    left: inherit;
                }
            }
        }
        
    }
    .full-map-details{
        left: 0;
        right: inherit;
    }
    .grey-patern{
        &.about-patern {
            img{
                transform: translateX(30%);
            }
        }
    }
    .fixed-bottom {
        .accordion-body {
            .progressbar {
                li{
                    float: right;
                    &:after{
                        right: -43%;
                        left: inherit;
                    }
                }
            }
        }
    }
    .swiper-franction {
        .swiper-button-next, .swiper-button-prev{
            //@error: rotate(180deg);
        }
        .swiper-pagination-current{
            padding-left: 20px;
            padding-right: 0;

        }
    }
    .program-swiper {
        .swiper-button-next{
            left: 10px;
            right: auto;
        }
        .swiper-button-prev{
            right: 10px;
            left: auto;
        }
    }
}




.letter-space{
    letter-spacing: 3px;
  }
  .breadcrumb{
      .breadcrumb-item{
          margin-right: 10px;
          margin-left: 10px;
      }
  }

#menu-stories{
    li{
        margin-bottom: 10px;
    }
}


.empty-content{
    @extend .fontMedium, .navy, .font-22;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}


img.emoji {
    height: 1em !important;
    width: 1em !important;
}

.table-content{
    @extend .fontRegular
}
.border-blue{
    border: 1px solid black;
    &.inside{
        border-top: 0;
    }
}
.inherit-height{
    height: inherit;
}
.brand-logo img {
    width: 150px;
    //height: auto;
    height: 150px;
    object-fit: contain;
}
.white-overlay{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 20;
}
.brand-logo-1{
    width: 250px;
    height: auto;
    text-align: left;
}
@media (min-width: 1441px){
}
// commun Styles between Large and Extra Large devices
@media (min-width: 992px) and (max-width: 1440px){
    $rectRatio: 120px;
    $rectRatioMax: 170px; // $rectRatio + 25px on each side
    $rectRatioMin: 85px;
    .mySwiper {
        height: 120vh;
    }
    .mySwiper4{
        //height: 520px !important;
    }
    .logo-shape{
        left: 57.3%;top: 54.5%;
    }
    .cd-horizontal-timeline {
        //margin: 6em auto;
        &::before {
            /* never visible - this is used in jQuery to check the current MQ */
            content: 'desktop';
        }
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1440px){}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px){
}


// Comon mobile & Tablet
@media (min-width: 100px) and (max-width: 1000px){
    .btn {
        width: 100%;
    }
    .swiper-desktop{
        display: none;
    }
    .swiper-mobile{
        display: block;
    }
    .leadership-swiper{
        .swiper-slide{
            height: 500px;
        }
    }
    /* .swiper-container-vertical > .swiper-pagination-bullets {
        right: 5%;
    } */
    .video-modal {
        .modal-dialog{
            max-width: 100vw;
        }
    }
    main {
        .state-content {
            left: 15px;
        }
        height: auto!important;
        .initial-state {
            height: auto;
            .state-content{
                position: relative;
                top: 0;
                transform: none;
            }
            .img-wrapper{
                overflow: hidden;
                img{
                    &.main-page-img{
                        position: relative;
                    }
                    //width: auto !important;
                    right: 0;
                    left: inherit;
                    // object-fit: contain!important;
                    // height: auto!important;
                }
                /* .main-page-img{
                } */
            }
        }
    }

    .table-content{
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    .timeline-arrows-wrapper{
        top: 26%;
    }

    .cd-horizontal-timeline .events-content .event-content{
        top: 30%;
    }
    .first-fold {
        margin-top: 100px;
    }
    .navbar-collapse-menu{
        position: absolute;
        top: -12px;
        right: -28px;
        width: calc(100vw + 12px);
        background: white;
        height: calc(100vh + 12px);
        display: block !important;
        opacity: 0;
        visibility: hidden;
        transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
        &.show{
            right: -28px;
            opacity: 1;
            visibility: visible;
        }
    }
    header{
        &.open{
            background: $white;
        }
        .logo-wrapper{
            //width: 100%;
        }
        .navbar-nav {
            .nav-link {
                color: $navy !important;
                text-align: center;
                font-size: 1rem;
                padding: .7rem 0;
                &.black{
                    color: $black !important;
                }
                &.white{
                    color: $white !important;
                }
            }
        }
        .navbar-collapse-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .navbar-toggler{
        z-index: 1;
    }
    .partners-tabs{
        .bgGrey{
            overflow-x: scroll;
            overflow-y: hidden;
        }
        .nav-tabs{
            //min-width: 400px;
            //max-width: 700px;
            white-space: nowrap;
            overflow-x: auto; 
            -webkit-overflow-scrolling: touch;
            overflow-y: hidden;
            display: inline-block !important;
            .nav-link{
                display: inline-block !important;
            }
        }

    }
    .patern-mobile-main{
        top: 50px;
        right: -100px;
        width: 100%;
        height: 50vh;
        z-index: 100;
        object-fit: contain;
    }
    .home-page {
        main {
            .state-content{
                top: 30%;
            }
        }
        header{
            &.open{
                background: $black;
            }
        }
    }
    .home-swiper-mobile{
        .swiper-pagination{
            bottom: 30%;
            text-align: left;
            padding: 0 15px ;
            .swiper-pagination-bullet{
                width: 30px;
                height: 4px;
                border-radius: 0;
                &.swiper-pagination-bullet-active{
                    background: $white;
                }
            }
        }
        &.media-page{
            bottom: 30%;
            .swiper-pagination-bullet{
                background: $blue;
                &.swiper-pagination-bullet-active{
                    background: $navy;
                }
            }
        }
    }
    .more-tags{
        display: none;
    }
    .tags-listing{
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 10px;
        ul{
            //width: 1400px;
            width: 700px;
        }
    }
    .filters-tabs{
        .filters-wrapper{
            overflow-x: scroll;
            overflow-y: hidden;
            .filters{
                width: 810px !important;
            }
        }
    }
    .navbar-stay{
        width: 20%;
        position: absolute;
        top: 0;
        right: 60px;
        .navbar-collapse{
            display: block;
            .navbar-nav{
                display: inline-block;
                .nav-item{
                    display: inline-block;
                }
            }
        }
    }
    .search {
        overflow-y: scroll;
        transform: translateX(0) !important;
        opacity: 0;
        visibility: hidden;
        &.open{
            opacity: 1;
            visibility: visible;
        }
        .gradient-right{
            height: auto;
        }
    }
    .cd-horizontal-timeline{
        .w-70{
            width: calc(100% - 60px) !important;
        }
        .events{
            width: 1200px !important;
        }
        .events-wrapper{
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
    .btn{
        .s12{
            width: 12px;
            height: 12px;
        }
    }
    .map-img{
        // transform: scale(1.5);
        // overflow: scroll;
    }
    .share-grey{
        position: absolute;
        top: 0;
        right: 0;
    }
    .video-modal {
        .modal-body {
            height: 45vh;
        }
    }
    .modalSwiper2 {
        height: 75%;
    }
    .modalSwiper {
        height: 25%;
    }
    .video-modal {
        .swiper-slide {
            video{
                height: 58%;
            }
        }
    }
    .lang{
        padding: 1.1rem 0 !important;
    }
    .btn.navbar-toggler{
        transform: translateX(1rem);
    }
    

.full-white-overlay{
    background: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
}



    .ar{
        .btn.navbar-toggler{
            transform: translateX(-1rem);
        }
        .navbar-stay{
            left: 60px;
            right: inherit;
        }
        .navbar-collapse-menu{
            left: -28px;
            right: inherit;
        }
        /* .swiper-container-vertical > .swiper-pagination-bullets {
            left: 5%;
            right: inherit;
        } */
        .home-swiper-mobile {
            .swiper-pagination{
                text-align: right;
                bottom: 35%;
            }
        }
        main {
            .state-content{
                right: 15px;
                left: inherit;
            }
        }
        .patern-mobile-main{
            left: -100px;
            right: initial;
        }
        .share-grey{
            right: inherit;
            left: 0;
        }
        .mySwiper4 {
            .swiper-button-prev, .swiper-button-next {
                transform: scaleX(-1) translateY(-50%);
            }
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
    .mySwiper4 {
        //height: 450px !important;
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
    .mySwiper4 {
        //height: 422px !important;
    }
    .scroll-to-tabs {
        transform: translateY(-74px);
    }
    main {
        //height: 55vh;
        .initial-state {
            //height: 55vh;
            .img-wrapper{
                .main-patern-overlay{
                    // transform: translateX(40vw);
                    // width: 140% !important;
                }
            }
        }
    }
}


@-webkit-keyframes cd-enter-right {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  @-moz-keyframes cd-enter-right {
    0% {
      opacity: 0;
      -moz-transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0%);
    }
  }
  @keyframes cd-enter-right {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes cd-enter-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  @-moz-keyframes cd-enter-left {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0%);
    }
  }
  @keyframes cd-enter-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }