/* -----------------------------------------------------
Fonts
----------------------------------------------------- */
@font-face {
  font-family: 'Graphik700Bold';
  src: url("../fonts/Graphik700Bold.eot");
  src: url("../fonts/Graphik700Bold.eot") format("embedded-opentype"), url("../fonts/Graphik700Bold.woff2") format("woff2"), url("../fonts/Graphik700Bold.woff") format("woff"), url("../fonts/Graphik700Bold.ttf") format("truetype"), url("../fonts/Graphik700Bold.svg#Graphik700Bold") format("svg"); }

@font-face {
  font-family: 'Graphik400Regular';
  src: url("../fonts/Graphik400Regular.eot");
  src: url("../fonts/Graphik400Regular.eot") format("embedded-opentype"), url("../fonts/Graphik400Regular.woff2") format("woff2"), url("../fonts/Graphik400Regular.woff") format("woff"), url("../fonts/Graphik400Regular.ttf") format("truetype"), url("../fonts/Graphik400Regular.svg#Graphik400Regular") format("svg"); }

@font-face {
  font-family: 'Graphik500Medium';
  src: url("../fonts/Graphik500Medium.eot");
  src: url("../fonts/Graphik500Medium.eot") format("embedded-opentype"), url("../fonts/Graphik500Medium.woff2") format("woff2"), url("../fonts/Graphik500Medium.woff") format("woff"), url("../fonts/Graphik500Medium.ttf") format("truetype"), url("../fonts/Graphik500Medium.svg#Graphik500Medium") format("svg"); }

.fontRegular {
  font-family: 'Graphik400Regular'; }

.fontMedium {
  font-family: 'Graphik500Medium'; }

.fontBold {
  font-family: 'Graphik700Bold'; }

/* -----------------------------------------------------
Sizes
----------------------------------------------------- */
.font-6 {
  font-size: 0.375rem; }

.font-8 {
  font-size: 0.5rem; }

.font-10 {
  font-size: 0.625rem; }

.font-12 {
  font-size: 0.75rem; }

.font-14 {
  font-size: 0.875rem; }

.font-16 {
  font-size: 1rem; }

.font-18 {
  font-size: 1.125rem; }

.font-20 {
  font-size: 1.25rem; }

.font-22 {
  font-size: 1.375rem; }

.font-24 {
  font-size: 1.5rem; }

.font-26 {
  font-size: 1.625rem; }

.font-28 {
  font-size: 1.75rem; }

.font-30 {
  font-size: 1.875rem; }

.font-32 {
  font-size: 2rem; }

.font-38 {
  font-size: 2.375rem; }

.font-40 {
  font-size: 2.5rem; }

.font-40 {
  font-size: 2.5rem; }

.font-42 {
  font-size: 2.625rem; }

.font-46 {
  font-size: 2.875rem; }

.font-48 {
  font-size: 3rem; }

.font-60 {
  font-size: 3.75rem; }

.font-64 {
  font-size: 4rem; }

.font-80 {
  font-size: 5rem; }

.font-90 {
  font-size: 5.625rem; }

/* -----------------------------------------------------
Colors
----------------------------------------------------- */
.navy {
  color: #005093 !important; }

.blue {
  color: #00A3DA !important; }

.green {
  color: #00AF77 !important; }

.red {
  color: #F46251 !important; }

.pink {
  color: #B863C6 !important; }

.yellow {
  color: #FEBE12 !important; }

.orange {
  color: #FEBE12 !important; }

.white {
  color: #FFFFFF !important; }
  .white::-webkit-input-placeholder {
    /* Edge */
    color: #FFFFFF; }
  .white:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF; }
  .white::placeholder {
    color: #FFFFFF; }

.black {
  color: #000000 !important; }

.grey {
  color: #F2F5F7 !important; }

.bgBlue {
  background-color: #00A3DA; }

.bgNavy {
  background-color: #005093; }

.bgWhite {
  background-color: #FFFFFF; }

.bgBlack {
  background-color: #000000; }

.bgGrey {
  background-color: #F2F5F7; }

.bgTransparent {
  background-color: rgba(255, 255, 255, 0.4); }

.gradient-left {
  background: linear-gradient(to left, #005093, #00A3DA); }

.gradient-right {
  background: linear-gradient(to right, #005093, #00A3DA); }

.gradient-buttom {
  background: linear-gradient(#005093, #00A3DA); }

.gradient-top {
  background: linear-gradient(#00A3DA, #005093); }

.gradient-txt {
  background: linear-gradient(rgba(0, 0, 0, 0), black); }

body {
  font-family: 'Graphik', sans-serif;
  overflow-x: hidden;
  width: 100vw; }

.opacity-25 {
  opacity: .25; }

.btn {
  width: 327px;
  border: 1px solid #000000; }
  .btn.btn-bigger {
    width: 360px; }
    .btn.btn-bigger.p-lg-absolute {
      bottom: -28px;
      right: 50px; }

.automotive, .innovation, .healthcare, .financial {
  color: #00AF77; }
  .automotive.active, .innovation.active, .healthcare.active, .financial.active {
    color: #FFFFFF;
    background: #00AF77; }

.retail {
  color: #F46251; }
  .retail.active {
    color: #FFFFFF;
    background: #F46251; }

.education {
  color: #00A3DA; }
  .education.active {
    color: #FFFFFF;
    background: #00A3DA; }

.estate {
  color: #B863C6; }
  .estate.active {
    color: #FFFFFF;
    background: #B863C6; }

.tag {
  padding: 8px 16px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 19px;
  line-height: 100%; }
  .tag:hover {
    color: #000000; }
  .tag.active {
    background: #005093;
    color: #FFFFFF;
    border: 1px solid #005093; }
  .tag.automotive, .tag.innovation, .tag.healthcare, .tag.financial {
    color: #FFFFFF;
    background: #00AF77;
    border: 1px solid #00AF77; }
    .tag.automotive:hover, .tag.innovation:hover, .tag.healthcare:hover, .tag.financial:hover {
      color: #FFFFFF; }
  .tag.retail {
    color: #FFFFFF;
    background: #F46251;
    border: 1px solid #F46251; }
    .tag.retail:hover {
      color: #FFFFFF; }
  .tag.education {
    color: #FFFFFF;
    background: #00A3DA;
    border: 1px solid #00A3DA; }
    .tag.education:hover {
      color: #FFFFFF; }
  .tag.estate {
    color: #FFFFFF;
    background: #B863C6;
    border: 1px solid #B863C6; }
    .tag.estate:hover {
      color: #FFFFFF; }
  .tag.interest {
    color: #FFFFFF;
    border: 1px solid #FFFFFF; }
    .tag.interest.active {
      color: #005093;
      background: #FFFFFF; }
      .tag.interest.active::after {
        content: "";
        background: url(../images/static/close-navy.svg) no-repeat;
        background-size: cover;
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-left: 30px; }
  .tag.strength {
    color: #FFFFFF;
    background: #005093; }
    .tag.strength::after {
      content: "";
      background: url(../images/static/close.svg) no-repeat;
      background-size: cover;
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-left: 30px; }

/* -----------------------------------------------------
Styles
----------------------------------------------------- */
.rotate {
  transform: rotate(45deg); }

.translate {
  transform: rotate(45deg) translateY(50%); }

.w-50-fit {
  width: calc(50% - 4px);
  display: inline-block; }

.w-10 {
  width: calc( 10% - 3px);
  display: inline-block; }

.w-20 {
  width: calc( 20% - 3px);
  display: inline-block; }

.w-30 {
  width: calc( 30% - 3px) !important;
  display: inline-block; }

.w-40 {
  width: calc( 40% - 3px) !important;
  display: inline-block; }

.w-60 {
  width: calc( 60% - 3px) !important;
  display: inline-block; }

.w-70 {
  width: calc( 70% - 3px);
  display: inline-block; }

.h-60 {
  height: calc( 60% - 3px); }

.h-85 {
  height: 85%; }

.h-70 {
  height: calc( 70% - 3px); }

.w-80 {
  width: calc( 80% - 3px);
  display: inline-block; }

.w-90 {
  width: calc( 90% - 3px);
  display: inline-block; }

.img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.img-wrapper.no-dark-overlay::after {
  background-color: rgba(255, 255, 255, 0.3); }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }
  .p-absolute.top-left {
    top: 0;
    left: 0;
    bottom: initial; }
  .p-absolute.top-right {
    top: 0;
    right: 0;
    bottom: initial; }
  .p-absolute.bottom-left {
    bottom: 0;
    left: 0;
    top: initial; }
  .p-absolute.bottom-right {
    bottom: 0;
    right: 0;
    top: initial; }
  .p-absolute.center-y {
    top: 50%;
    transform: translateY(-50%); }
  .p-absolute.center-x {
    left: 50%;
    transform: translateX(-50%); }
  .p-absolute.center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .p-absolute.right {
    right: 0; }
  .p-absolute.left {
    left: 0; }

.p-lg-absolute {
  position: absolute; }
  .p-lg-absolute.top-left {
    top: 0;
    left: 0;
    bottom: initial; }
  .p-lg-absolute.top-right {
    top: 0;
    right: 0;
    bottom: initial; }
  .p-lg-absolute.bottom-left {
    bottom: 0;
    left: 0;
    top: initial; }
  .p-lg-absolute.bottom-right {
    bottom: 0;
    right: 0;
    top: initial; }
  .p-lg-absolute.center-y {
    top: 50%;
    transform: translateY(-50%); }
  .p-lg-absolute.center-x {
    left: 50%;
    transform: translateX(-50%); }
  .p-lg-absolute.center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .p-lg-absolute.right {
    right: 0; }
  .p-lg-absolute.left {
    left: 0; }

.object-fit-cover {
  object-fit: cover; }

.object-fit-contain {
  object-fit: contain; }

.cubicTransition, .listing .listing-anchor .hidden-details {
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }

.rect.s6 {
  width: 0.375rem;
  height: 0.375rem; }

.rect.s8 {
  width: 0.5rem;
  height: 0.5rem; }

.rect.s12 {
  width: 0.75rem;
  height: 0.75rem; }

.rect.s16 {
  width: 1rem;
  height: 1rem; }

.rect.s20 {
  width: 1.25rem;
  height: 1.25rem; }

.rect.s24 {
  width: 1.5rem;
  height: 1.5rem; }

.rect.s28 {
  width: 1.75rem;
  height: 1.75rem; }

.rect.s30 {
  width: 1.875rem;
  height: 1.875rem; }

.rect.s40 {
  width: 2.5rem;
  height: 2.5rem; }

.rect.s48 {
  width: 3rem;
  height: 3rem; }

.rect.s60 {
  width: 3.75rem;
  height: 3.75rem; }

.rect.s80 {
  width: 5rem;
  height: 5rem; }

.rect.s90 {
  width: 5.625rem;
  height: 5.625rem; }

.half-opacity {
  opacity: .5; }

.px-8 {
  padding-right: 2.25rem;
  padding-left: 2.25rem; }

.px-16 {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }

.m-top-200 {
  margin-top: 200px; }

.p-top-48 {
  padding-top: 48px; }

.py-200 {
  padding: 200px 0; }

.py-80 {
  padding: 160px 0; }

.py-80 {
  padding: 80px 0; }

.px-15 {
  padding: 0 13px; }

.no-bg {
  background-color: transparent !important; }

a, button {
  opacity: 1; }
  a:hover, button:hover {
    opacity: .5; }

button {
  padding: 8px 16px;
  letter-spacing: 2px; }
  button img {
    width: 0.5rem;
    height: 0.5rem;
    object-fit: contain;
    margin-top: .4rem;
    margin-bottom: .4rem; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.accordion-social {
  width: 25px;
  height: 25px; }

.square {
  padding-top: 100%; }

.rectangle {
  padding-top: 48.5%; }

.rectangle-v {
  padding-top: 150%; }

.rectangle-ve {
  padding-top: 135%; }

.between-sizes {
  padding-top: 65%; }

.bigger-between-sizes {
  padding-top: 73%; }

.swiper-pagination-progressbar {
  height: 8px !important;
  border-radius: 3px;
  overflow: hidden; }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #005093;
    border-radius: 3px; }

.listing {
  height: 100%; }
  .listing .listing-anchor .listing-hover {
    opacity: 0;
    visibility: hidden; }
    .listing .listing-anchor .listing-hover .low-opacity {
      opacity: 0.2;
      bottom: 20%;
      left: -5%; }
  .listing .listing-anchor .hidden-details {
    opacity: 0;
    visibility: hidden;
    font-size: 0; }
  .listing .listing-anchor:hover {
    opacity: 1; }
    .listing .listing-anchor:hover .listing-hover {
      opacity: 1;
      visibility: visible; }
    .listing .listing-anchor:hover .hidden-details {
      opacity: 1;
      visibility: visible;
      font-size: 1.125rem; }
  .listing.listing-particular .listing-anchor:hover .listing-hover {
    opacity: .8; }

.input-wrapper {
  min-height: 50px; }
  .input-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #00A3DA; }

.grey-patern {
  position: absolute;
  top: 60%;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1; }
  .grey-patern::after {
    display: none; }
  .grey-patern.home-patern {
    top: 60%;
    left: 50%;
    transform: translateX(-50%); }
  .grey-patern.article-patern {
    top: 36%;
    right: 0;
    overflow: hidden; }
    .grey-patern.article-patern img {
      transform: translateX(30%); }
  .grey-patern.story-patern {
    top: 36%;
    left: 0;
    transform: translateX(-45%); }
  .grey-patern.about-patern {
    left: 0;
    top: 38%; }
    .grey-patern.about-patern img {
      transform: translateX(-30%); }

.tooltip-inner {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px; }

.tooltip-arrow:before {
  border-top-color: #FFFFFF !important; }

.hideItem {
  /* You can play with the seconds to change the "animation" */
  animation: hideItem .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: none; }

.showItem {
  /* You can play with the seconds to change the "animation" */
  animation: showItem .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: block; }

@keyframes hideItem {
  0% {
    transform: scale(1);
    display: block; }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
    display: none; } }

@keyframes showItem {
  0% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
    display: none; }
  100% {
    transform: scale(1);
    display: block; } }

.clipped-images img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: translate(-50%, -50%);
  right: -100px; }
  .clipped-images img:first-child {
    width: 400px;
    height: 400px;
    top: 50%; }
  .clipped-images img:nth-child(2), .clipped-images img:nth-child(3), .clipped-images img:nth-child(4) {
    width: 200px;
    height: 200px; }
  .clipped-images img:nth-child(2) {
    top: calc(50% - 100px - 10px); }
  .clipped-images img:nth-child(3) {
    top: calc(50% + 100px + 10px); }
  .clipped-images img:nth-child(4) {
    top: calc(50%);
    right: -200px; }

input[type="file"] {
  display: none; }

.custom-file-upload {
  border: 2px dashed rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%; }

.fixed-bottom .accordion-body .progressbar {
  counter-reset: step;
  clear: both; }
  .fixed-bottom .accordion-body .progressbar li {
    width: 20%;
    float: left;
    position: relative;
    text-align: center; }
    .fixed-bottom .accordion-body .progressbar li:before {
      transform: rotate(45deg);
      background-color: transparent;
      content: counter(step);
      counter-increment: step;
      width: 15px;
      height: 15px;
      display: block;
      color: transparent;
      border: 1px solid #FFFFFF;
      margin: 0 auto 10px; }
    .fixed-bottom .accordion-body .progressbar li:after {
      background-color: #FFFFFF;
      content: '';
      width: 87%;
      height: 1px;
      position: absolute;
      left: -43%;
      top: 7px;
      z-index: 0; }
    .fixed-bottom .accordion-body .progressbar li:first-child:after {
      content: none; }
    .fixed-bottom .accordion-body .progressbar li.active::before {
      background: #FFFFFF !important; }

.fixed-bottom #slider-div {
  display: flex;
  flex-direction: row; }

.fixed-bottom #slider-div > div {
  margin: 8px; }

.fixed-bottom .slider-label {
  color: #FFFFFF;
  position: absolute;
  padding: 4px;
  font-size: 0.75rem;
  bottom: 0 !important; }
  .fixed-bottom .slider-label::after {
    content: " Yrs"; }

.fixed-bottom .slider.slider-horizontal {
  width: 100% !important;
  height: 28px !important; }
  .fixed-bottom .slider.slider-horizontal::after {
    transform: rotate(90deg);
    content: "_";
    color: white;
    position: absolute;
    right: -13px;
    width: 10px; }

.fixed-bottom .slider-track {
  height: 1px !important; }

.fixed-bottom .slider-selection {
  height: 3px !important; }

.fixed-bottom .slider-handle {
  background: white !important; }

.swiper-navigation-wrapper {
  height: 20px; }

.swiper-button-next, .swiper-button-prev {
  width: 20px;
  height: 20px;
  left: inherit;
  right: inherit;
  margin-top: 0;
  transform: translateY(-50%); }
  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }

.swiper-button-next:after {
  background-image: url("../images/static/arrow-right-navy.svg"); }

.swiper-button-prev:after {
  background-image: url("../images/static/arrow-left-navy.svg"); }

.ar .p-absolute.right {
  left: 0;
  right: inherit; }

.ar .top-left, .ar .bottom-left {
  left: inherit;
  right: 0; }

.ar .top-right, .ar .bottom-right {
  right: inherit;
  left: 0; }

.ar .center-x {
  right: 50%;
  transform: translateX(50%); }

.ar .btn.btn-bigger.p-lg-absolute {
  left: 50px;
  right: inherit; }

.ar .swiper-button-next, .ar .swiper-button-prev {
  left: inherit;
  right: inherit; }
  .ar .swiper-button-next:after, .ar .swiper-button-prev:after {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }

.ar .swiper-button-next:after {
  background-image: url("../images/static/arrow-left-navy.svg"); }

.ar .swiper-button-prev:after {
  background-image: url("../images/static/arrow-right-navy.svg"); }

@media (min-width: 992px) and (max-width: 1440px) {
  .font-80 {
    font-size: 4rem; } }

@media (min-width: 100px) and (max-width: 1000px) {
  .py-200 {
    padding: 20px 0; }
  .p-lg-absolute {
    position: relative; }
  .w-80, .w-70, .w-60, .w-50, .w-40, .w-30, .w-20 {
    width: 100% !important; }
    .w-80.state-content, .w-70.state-content, .w-60.state-content, .w-50.state-content, .w-40.state-content, .w-30.state-content, .w-20.state-content {
      width: calc(100% - 30px) !important; }
  .program-swiper .w-80 {
    width: 80% !important; }
  header .w-10 {
    width: calc( 30% - 3px) !important;
    display: inline-block; }
  header .w-80 {
    width: calc( 80% - 3px) !important;
    display: inline-block; }
  .rectangle, .rectangle-v, .between-sizes, .bigger-between-sizes {
    padding-top: 100%; }
  .font-24 {
    font-size: 1.125rem; }
  .font-32 {
    font-size: 1.5rem; }
  .font-48 {
    font-size: 1.875rem; }
  .font-60 {
    font-size: 2rem; }
  .font-64 {
    font-size: 2rem; }
  .font-80 {
    font-size: 2.3rem; }
  /* $s14: 0.75rem;
    $s16: 0.875rem;
    $s18: 1rem;
    $s20: 1.125rem;
    $s22: 1.25rem;
    $s24: 1.375rem;
    $s26: 1.5rem;
    $s28: 1.625rem;
    $s30: 1.75rem;
    $s32: 1.875rem;
    $s38: 2rem;
    $s40: 2.375rem;
    $s42: 2.5rem;
    $s46: 2.625rem;
    $s48: 2.875rem;
    $s60: 3rem;
    $s64: 3.75rem;
    $s80: 4rem;
    $s90: 5rem; */
  .rect.s8 {
    width: 0.375rem;
    height: 0.375rem; }
  .rect.s12 {
    width: 0.5rem;
    height: 0.5rem; }
  .rect.s16 {
    width: 0.75rem;
    height: 0.75rem; }
  .rect.s20 {
    width: 1rem;
    height: 1rem; }
  .rect.s28 {
    width: 1.25rem;
    height: 1.25rem; }
  .rect.s30 {
    width: 1.625rem;
    height: 1.625rem; }
  .rect.s40 {
    width: 1.875rem;
    height: 1.875rem; }
  .rect.s48 {
    width: 2.5rem;
    height: 2.5rem; }
  .rect.s60 {
    width: 3rem;
    height: 3rem; }
  .rect.s80 {
    width: 3.75rem;
    height: 3.75rem; }
  .rect.s90 {
    width: 5rem;
    height: 5rem; }
  .px-16 {
    padding-right: 2.5rem;
    padding-left: 2.5rem; }
  .px-8 {
    padding-right: 1.25rem;
    padding-left: 1.25rem; }
  .clipped-images {
    display: none;
    /* img{
            &:first-child(){
                width: 200px;
                height: 200px;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4){
                width: 200px;
                height: 200px;
            }
            &:nth-child(2){
                top: calc(50% - 50px - 5px);
            }
            &:nth-child(3){
                top: calc(50% + 50px + 5px);
            }
            &:nth-child(4){
                right: -200px;
            }
        } */ }
  .btn.btn-bigger.p-lg-absolute {
    bottom: inherit;
    right: inherit; }
  .swiper-navigation-wrapper {
    height: 48px; } }

@media (max-width: 575.98px) {
  .btn.btn-bigger {
    width: 100%; } }
