/* -----------------------------------------------------
Fonts
----------------------------------------------------- */
@import url("http://fonts.cdnfonts.com/css/graphik");
.fontLight {
  font-family: 'Graphik', sans-serif;
  font-weight: 300; }

.fontRegular {
  font-family: 'Graphik', sans-serif;
  font-weight: 400; }

.fontMedium {
  font-family: 'Graphik', sans-serif;
  font-weight: 500; }

.fontBold {
  font-family: 'Graphik', sans-serif;
  font-weight: 700; }

/* -----------------------------------------------------
Sizes
----------------------------------------------------- */
.font-6 {
  font-size: 0.375rem; }

.font-8 {
  font-size: 0.5rem; }

.font-10 {
  font-size: 0.625rem; }

.font-12 {
  font-size: 0.75rem; }

.font-14 {
  font-size: 0.875rem; }

.font-16 {
  font-size: 1rem; }

.font-18 {
  font-size: 1.125rem; }

.font-20 {
  font-size: 1.25rem; }

.font-22 {
  font-size: 1.375rem; }

.font-24 {
  font-size: 1.5rem; }

.font-26 {
  font-size: 1.625rem; }

.font-28 {
  font-size: 1.75rem; }

.font-30 {
  font-size: 1.875rem; }

.font-32 {
  font-size: 2rem; }

.font-38 {
  font-size: 2.375rem; }

.font-40 {
  font-size: 2.5rem; }

.font-40 {
  font-size: 2.5rem; }

.font-42 {
  font-size: 2.625rem; }

.font-46 {
  font-size: 2.875rem; }

.font-48 {
  font-size: 3rem; }

.font-60 {
  font-size: 3.75rem; }

.font-64 {
  font-size: 4rem; }

.font-80 {
  font-size: 5rem; }

.font-90 {
  font-size: 5.625rem; }

/* -----------------------------------------------------
Colors
----------------------------------------------------- */
.blue {
  color: #00A3DA; }

.navy {
  color: #005093; }

.white {
  color: #FFFFFF !important; }
  .white::-webkit-input-placeholder {
    /* Edge */
    color: #FFFFFF; }
  .white:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF; }
  .white::placeholder {
    color: #FFFFFF; }

.black {
  color: #000000; }

.grey {
  color: #F2F5F7; }

.bgBlue {
  background-color: #00A3DA; }

.bgNavy {
  background-color: #005093; }

.bgWhite {
  background-color: #FFFFFF; }

.bgBlack {
  background-color: #000000; }

.bgGrey {
  background-color: #F2F5F7; }

.gradient-left {
  background: linear-gradient(to left, #005093, #00A3DA); }

.gradient-right {
  background: linear-gradient(to right, #005093, #00A3DA); }

.gradient-buttom {
  background: linear-gradient(#005093, #00A3DA); }

.gradient-top {
  background: linear-gradient(#00A3DA, #005093); }

.gradient-txt {
  background: linear-gradient(rgba(0, 0, 0, 0), black); }

.border-0 {
  border: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.automotive, .innovation {
  color: #00AF77; }
  .automotive.active, .innovation.active {
    color: #FFFFFF;
    background: #00AF77; }

.retail {
  color: #F46251; }
  .retail.active {
    color: #FFFFFF;
    background: #F46251; }

.education {
  color: #00A3DA; }
  .education.active {
    color: #FFFFFF;
    background: #00A3DA; }

.tag {
  padding: 8px 16px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 19px;
  line-height: 100%; }

/* -----------------------------------------------------
Styles
----------------------------------------------------- */
.rotate {
  transform: rotate(45deg); }

.translate {
  transform: rotate(45deg) translateY(50%); }

.w-50-fit {
  width: calc(50% - 4px);
  display: inline-block; }

.w-10 {
  width: calc( 10% - 3px);
  display: inline-block; }

.w-20 {
  width: calc( 20% - 3px);
  display: inline-block; }

.w-30 {
  width: calc( 30% - 3px) !important;
  display: inline-block; }

.w-70 {
  width: calc( 70% - 3px);
  display: inline-block; }

.w-80 {
  width: calc( 80% - 3px);
  display: inline-block; }

.w-90 {
  width: calc( 90% - 3px);
  display: inline-block; }

.img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }
  .p-absolute.top-left {
    top: 0;
    left: 0;
    bottom: initial; }
  .p-absolute.top-right {
    top: 0;
    right: 0;
    bottom: initial; }
  .p-absolute.bottom-left {
    bottom: 0;
    left: 0;
    top: initial; }
  .p-absolute.bottom-right {
    bottom: 0;
    right: 0;
    top: initial; }
  .p-absolute.center-y {
    top: 50%;
    transform: translateY(-50%); }
  .p-absolute.center-x {
    left: 50%;
    transform: translateX(-50%); }
  .p-absolute.center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .p-absolute.right {
    right: 0; }
  .p-absolute.left {
    left: 0; }

.object-fit-cover {
  object-fit: cover; }

.object-fit-contain {
  object-fit: contain; }

.cubicTransition, a, button, .listing .listing-anchor .listing-hover {
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }

.rect.s6 {
  width: 0.375rem;
  height: 0.375rem; }

.rect.s8 {
  width: 0.5rem;
  height: 0.5rem; }

.rect.s12 {
  width: 0.75rem;
  height: 0.75rem; }

.rect.s16 {
  width: 1rem;
  height: 1rem; }

.rect.s20 {
  width: 1.25rem;
  height: 1.25rem; }

.rect.s28 {
  width: 1.75rem;
  height: 1.75rem; }

.rect.s30 {
  width: 1.875rem;
  height: 1.875rem; }

.rect.s40 {
  width: 2.5rem;
  height: 2.5rem; }

.rect.s48 {
  width: 3rem;
  height: 3rem; }

.rect.s60 {
  width: 3.75rem;
  height: 3.75rem; }

.rect.s80 {
  width: 5rem;
  height: 5rem; }

.rect.s90 {
  width: 5.625rem;
  height: 5.625rem; }

.half-opacity {
  opacity: .5; }

.mx-8 {
  margin-right: 2.25rem;
  margin-left: 2.25rem; }

.mx-16 {
  margin-right: 4.5rem;
  margin-left: 4.5rem; }

.m-top-200 {
  margin-top: 200px; }

.p-top-48 {
  padding-top: 48px; }

.py-200 {
  padding: 200px 0; }

.py-160 {
  padding: 160px 0; }

.px-15 {
  padding: 0 12px; }

.no-bg {
  background-color: transparent !important; }

a, button {
  opacity: 1; }
  a:hover, button:hover {
    opacity: .5; }

button {
  padding: 8px 16px;
  letter-spacing: 2px; }
  button img {
    width: 0.5rem;
    height: 0.5rem;
    object-fit: contain;
    margin-top: .4rem;
    margin-bottom: .4rem; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.accordion-social {
  width: 25px;
  height: 25px; }

.square {
  padding-top: 100%; }

.rectangle {
  padding-top: 50%; }

.between-sizes {
  padding-top: 65%; }

.swiper-pagination-progressbar {
  height: 8px !important;
  border-radius: 3px;
  overflow: hidden; }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #005093;
    border-radius: 3px; }

.listing {
  height: 100%; }
  .listing .listing-anchor .listing-hover {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px); }
    .listing .listing-anchor .listing-hover .low-opacity {
      opacity: 0.2;
      bottom: 20%;
      left: -5%; }
  .listing .listing-anchor:hover {
    opacity: 1; }
    .listing .listing-anchor:hover .listing-hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); }

.input-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #00A3DA; }

.grey-patern {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  z-index: -1; }
  .grey-patern::after {
    display: none; }

.tooltip-inner {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px; }

.tooltip-arrow:before {
  border-top-color: #FFFFFF !important; }
