/* -----------------------------------------------------
Fonts
----------------------------------------------------- */
@import url("http://fonts.cdnfonts.com/css/graphik");
.fontLight {
  font-family: 'Graphik', sans-serif;
  font-weight: 300; }

.fontRegular {
  font-family: 'Graphik', sans-serif;
  font-weight: 400; }

.fontMedium {
  font-family: 'Graphik', sans-serif;
  font-weight: 500; }

.fontBold {
  font-family: 'Graphik', sans-serif;
  font-weight: 700; }

/* -----------------------------------------------------
Sizes
----------------------------------------------------- */
.font-6 {
  font-size: 0.375rem; }

.font-8 {
  font-size: 0.5rem; }

.font-10 {
  font-size: 0.625rem; }

.font-12 {
  font-size: 0.75rem; }

.font-14 {
  font-size: 0.875rem; }

.font-16 {
  font-size: 1rem; }

.font-18, .listing .listing-anchor:hover .hidden-details {
  font-size: 1.125rem; }

.font-20 {
  font-size: 1.25rem; }

.font-22 {
  font-size: 1.375rem; }

.font-24 {
  font-size: 1.5rem; }

.font-26 {
  font-size: 1.625rem; }

.font-28 {
  font-size: 1.75rem; }

.font-30 {
  font-size: 1.875rem; }

.font-32 {
  font-size: 2rem; }

.font-38 {
  font-size: 2.375rem; }

.font-40 {
  font-size: 2.5rem; }

.font-40 {
  font-size: 2.5rem; }

.font-42 {
  font-size: 2.625rem; }

.font-46 {
  font-size: 2.875rem; }

.font-48 {
  font-size: 3rem; }

.font-60 {
  font-size: 3.75rem; }

.font-64 {
  font-size: 4rem; }

.font-80 {
  font-size: 5rem; }

.font-90 {
  font-size: 5.625rem; }

/* -----------------------------------------------------
Colors
----------------------------------------------------- */
.blue {
  color: #00A3DA !important; }

.navy {
  color: #005093 !important; }

.white {
  color: #FFFFFF !important; }
  .white::-webkit-input-placeholder {
    /* Edge */
    color: #FFFFFF; }
  .white:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF; }
  .white::placeholder {
    color: #FFFFFF; }

.black {
  color: #000000 !important; }

.grey {
  color: #F2F5F7 !important; }

.bgBlue {
  background-color: #00A3DA; }

.bgNavy {
  background-color: #005093; }

.bgWhite {
  background-color: #FFFFFF; }

.bgBlack {
  background-color: #000000; }

.bgGrey {
  background-color: #F2F5F7; }

.gradient-left {
  background: linear-gradient(to left, #005093, #00A3DA); }

.gradient-right {
  background: linear-gradient(to right, #005093, #00A3DA); }

.gradient-buttom {
  background: linear-gradient(#005093, #00A3DA); }

.gradient-top {
  background: linear-gradient(#00A3DA, #005093); }

.gradient-txt {
  background: linear-gradient(rgba(0, 0, 0, 0), black); }

.border-0 {
  border: 0 !important; }

.btn {
  width: 327px;
  border: 1px solid #000000; }

.automotive, .innovation, .healthcare, .financial {
  color: #00AF77; }
  .automotive.active, .innovation.active, .healthcare.active, .financial.active {
    color: #FFFFFF;
    background: #00AF77; }

.retail {
  color: #F46251; }
  .retail.active {
    color: #FFFFFF;
    background: #F46251; }

.education {
  color: #00A3DA; }
  .education.active {
    color: #FFFFFF;
    background: #00A3DA; }

.estate {
  color: #B863C6; }
  .estate.active {
    color: #FFFFFF;
    background: #B863C6; }

.tag {
  padding: 8px 16px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 19px;
  line-height: 100%; }
  .tag.automotive, .tag.innovation, .tag.healthcare, .tag.financial {
    color: #FFFFFF;
    background: #00AF77;
    border: 1px solid #00AF77; }
  .tag.retail {
    color: #FFFFFF;
    background: #F46251;
    border: 1px solid #F46251; }
  .tag.education {
    color: #FFFFFF;
    background: #00A3DA;
    border: 1px solid #00A3DA; }
  .tag.estate {
    color: #FFFFFF;
    background: #B863C6;
    border: 1px solid #B863C6; }

/* -----------------------------------------------------
Styles
----------------------------------------------------- */
.rotate {
  transform: rotate(45deg); }

.translate {
  transform: rotate(45deg) translateY(50%); }

.w-50-fit {
  width: calc(50% - 4px);
  display: inline-block; }

.w-10 {
  width: calc( 10% - 3px);
  display: inline-block; }

.w-20 {
  width: calc( 20% - 3px);
  display: inline-block; }

.w-30 {
  width: calc( 30% - 3px) !important;
  display: inline-block; }

.w-40 {
  width: calc( 40% - 3px) !important;
  display: inline-block; }

.w-60 {
  width: calc( 60% - 3px) !important;
  display: inline-block; }

.w-70 {
  width: calc( 70% - 3px);
  display: inline-block; }

.h-70 {
  height: calc( 70% - 3px); }

.w-80 {
  width: calc( 80% - 3px);
  display: inline-block; }

.w-90 {
  width: calc( 90% - 3px);
  display: inline-block; }

.img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.img-wrapper.no-dark-overlay::after {
  display: none; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }
  .p-absolute.top-left {
    top: 0;
    left: 0;
    bottom: initial; }
  .p-absolute.top-right {
    top: 0;
    right: 0;
    bottom: initial; }
  .p-absolute.bottom-left {
    bottom: 0;
    left: 0;
    top: initial; }
  .p-absolute.bottom-right {
    bottom: 0;
    right: 0;
    top: initial; }
  .p-absolute.center-y {
    top: 50%;
    transform: translateY(-50%); }
  .p-absolute.center-x {
    left: 50%;
    transform: translateX(-50%); }
  .p-absolute.center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .p-absolute.right {
    right: 0; }
  .p-absolute.left {
    left: 0; }

.p-lg-absolute {
  position: absolute; }
  .p-lg-absolute.top-left {
    top: 0;
    left: 0;
    bottom: initial; }
  .p-lg-absolute.top-right {
    top: 0;
    right: 0;
    bottom: initial; }
  .p-lg-absolute.bottom-left {
    bottom: 0;
    left: 0;
    top: initial; }
  .p-lg-absolute.bottom-right {
    bottom: 0;
    right: 0;
    top: initial; }
  .p-lg-absolute.center-y {
    top: 50%;
    transform: translateY(-50%); }
  .p-lg-absolute.center-x {
    left: 50%;
    transform: translateX(-50%); }
  .p-lg-absolute.center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .p-lg-absolute.right {
    right: 0; }
  .p-lg-absolute.left {
    left: 0; }

.object-fit-cover {
  object-fit: cover; }

.object-fit-contain {
  object-fit: contain; }

.cubicTransition, a, button, .listing .listing-anchor .listing-hover, .listing .listing-anchor .hidden-details {
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }

.rect.s6 {
  width: 0.375rem;
  height: 0.375rem; }

.rect.s8 {
  width: 0.5rem;
  height: 0.5rem; }

.rect.s12 {
  width: 0.75rem;
  height: 0.75rem; }

.rect.s16 {
  width: 1rem;
  height: 1rem; }

.rect.s20 {
  width: 1.25rem;
  height: 1.25rem; }

.rect.s28 {
  width: 1.75rem;
  height: 1.75rem; }

.rect.s30 {
  width: 1.875rem;
  height: 1.875rem; }

.rect.s40 {
  width: 2.5rem;
  height: 2.5rem; }

.rect.s48 {
  width: 3rem;
  height: 3rem; }

.rect.s60 {
  width: 3.75rem;
  height: 3.75rem; }

.rect.s80 {
  width: 5rem;
  height: 5rem; }

.rect.s90 {
  width: 5.625rem;
  height: 5.625rem; }

.half-opacity {
  opacity: .5; }

.px-8 {
  padding-right: 2.25rem;
  padding-left: 2.25rem; }

.px-16 {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }

.m-top-200 {
  margin-top: 200px; }

.p-top-48 {
  padding-top: 48px; }

.py-200 {
  padding: 200px 0; }

.py-80 {
  padding: 160px 0; }

.py-80 {
  padding: 80px 0; }

.px-15 {
  padding: 0 12px; }

.no-bg {
  background-color: transparent !important; }

a, button {
  opacity: 1; }
  a:hover, button:hover {
    opacity: .5; }

button {
  padding: 8px 16px;
  letter-spacing: 2px; }
  button img {
    width: 0.5rem;
    height: 0.5rem;
    object-fit: contain;
    margin-top: .4rem;
    margin-bottom: .4rem; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.accordion-social {
  width: 25px;
  height: 25px; }

.square {
  padding-top: 100%; }

.rectangle {
  padding-top: 48.5%; }

.rectangle-v {
  padding-top: 150%; }

.between-sizes {
  padding-top: 65%; }

.bigger-between-sizes {
  padding-top: 73%; }

.swiper-pagination-progressbar {
  height: 8px !important;
  border-radius: 3px;
  overflow: hidden; }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #005093;
    border-radius: 3px; }

.listing {
  height: 100%; }
  .listing .listing-anchor .listing-hover {
    opacity: 0;
    visibility: hidden; }
    .listing .listing-anchor .listing-hover .low-opacity {
      opacity: 0.2;
      bottom: 20%;
      left: -5%; }
  .listing .listing-anchor .hidden-details {
    opacity: 0;
    visibility: hidden;
    font-size: 0; }
  .listing .listing-anchor:hover {
    opacity: 1; }
    .listing .listing-anchor:hover .listing-hover {
      opacity: 1;
      visibility: visible; }
    .listing .listing-anchor:hover .hidden-details {
      opacity: 1;
      visibility: visible; }

.input-wrapper {
  min-height: 50px; }
  .input-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #00A3DA; }

.grey-patern {
  position: absolute;
  top: 60%;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1; }
  .grey-patern::after {
    display: none; }
  .grey-patern.home-patern {
    top: 60%;
    left: 50%;
    transform: translateX(-50%); }
  .grey-patern.article-patern {
    top: 36%;
    right: 0;
    overflow: hidden; }
    .grey-patern.article-patern img {
      transform: translateX(30%); }
  .grey-patern.about-patern {
    left: 0; }
    .grey-patern.about-patern img {
      transform: translateX(-30%); }

.tooltip-inner {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px; }

.tooltip-arrow:before {
  border-top-color: #FFFFFF !important; }

.hideItem {
  /* You can play with the seconds to change the "animation" */
  animation: hideItem .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: none; }

.showItem {
  /* You can play with the seconds to change the "animation" */
  animation: showItem .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: block; }

@keyframes hideItem {
  0% {
    transform: scale(1);
    display: block; }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
    display: none; } }

@keyframes showItem {
  0% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
    display: none; }
  100% {
    transform: scale(1);
    display: block; } }

.clipped-images img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: translate(-50%, -50%); }
  .clipped-images img:first-child {
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%; }
  .clipped-images img:nth-child(2), .clipped-images img:nth-child(3) {
    width: 250px;
    height: 250px; }
  .clipped-images img:nth-child(2) {
    top: calc(50% - 125px - 10px);
    left: calc(50% + 250px + 10px); }
  .clipped-images img:nth-child(3) {
    top: calc(50% + 125px + 10px);
    left: calc(50% + 250px + 10px); }

@media (min-width: 992px) and (max-width: 1440px) {
  .font-80 {
    font-size: 4rem; } }

@media (min-width: 100px) and (max-width: 1000px) {
  .py-200 {
    padding: 20px 0; }
  .p-lg-absolute {
    position: relative; }
  .w-80, .w-70, .w-60, .w-50, .w-40, .w-30, .w-20 {
    width: 100% !important; }
    .w-80.state-content, .w-70.state-content, .w-60.state-content, .w-50.state-content, .w-40.state-content, .w-30.state-content, .w-20.state-content {
      width: calc(100% - 30px) !important; }
  header .w-20 {
    width: calc( 20% - 3px) !important;
    display: inline-block; }
  header .w-80 {
    width: calc( 80% - 3px) !important;
    display: inline-block; }
  .rectangle, .rectangle-v, .between-sizes, .bigger-between-sizes {
    padding-top: 100%; }
  .font-32 {
    font-size: 1.5rem; }
  .font-60 {
    font-size: 2rem; }
  .font-80 {
    font-size: 2.3rem; }
  /* $s14: 0.75rem;
    $s16: 0.875rem;
    $s18: 1rem;
    $s20: 1.125rem;
    $s22: 1.25rem;
    $s24: 1.375rem;
    $s26: 1.5rem;
    $s28: 1.625rem;
    $s30: 1.75rem;
    $s32: 1.875rem;
    $s38: 2rem;
    $s40: 2.375rem;
    $s42: 2.5rem;
    $s46: 2.625rem;
    $s48: 2.875rem;
    $s60: 3rem;
    $s64: 3.75rem;
    $s80: 4rem;
    $s90: 5rem; */
  .rect.s8 {
    width: 0.375rem;
    height: 0.375rem; }
  .rect.s12 {
    width: 0.5rem;
    height: 0.5rem; }
  .rect.s16 {
    width: 0.75rem;
    height: 0.75rem; }
  .rect.s20 {
    width: 1rem;
    height: 1rem; }
  .rect.s28 {
    width: 1.25rem;
    height: 1.25rem; }
  .rect.s30 {
    width: 1.625rem;
    height: 1.625rem; }
  .rect.s40 {
    width: 1.875rem;
    height: 1.875rem; }
  .rect.s48 {
    width: 2.5rem;
    height: 2.5rem; }
  .rect.s60 {
    width: 3rem;
    height: 3rem; }
  .rect.s80 {
    width: 3.75rem;
    height: 3.75rem; }
  .rect.s90 {
    width: 5rem;
    height: 5rem; } }

@media (max-width: 575.98px) {
  .clipped-images img:first-child {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%; }
  .clipped-images img:nth-child(2), .clipped-images img:nth-child(3) {
    width: 100px;
    height: 100px; }
  .clipped-images img:nth-child(2) {
    top: calc(50% - 50px - 10px);
    left: calc(50% + 100px + 10px); }
  .clipped-images img:nth-child(3) {
    top: calc(50% + 50px + 10px);
    left: calc(50% + 100px + 10px); } }
