/* -----------------------------------------------------
Fonts
----------------------------------------------------- */
@import url("http://fonts.cdnfonts.com/css/graphik");
.fontLight {
  font-family: 'Graphik', sans-serif;
  font-weight: 300; }

.fontRegular, input, textarea, select, option, input::placeholder, textarea::placeholder, select::placeholder, option::placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, option:-ms-input-placeholder, input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, option::-ms-input-placeholder, .scroll-to-tabs .scroll-to-tabs-anchor, .swiper-franction .swiper-pagination {
  font-family: 'Graphik', sans-serif;
  font-weight: 400; }

.fontMedium, .scroll-to-tabs .scroll-to-tabs-anchor.active, .cd-horizontal-timeline .events a {
  font-family: 'Graphik', sans-serif;
  font-weight: 500; }

.fontBold, header .navbar-nav .nav-link.active, .swiper-franction .swiper-pagination .swiper-pagination-current {
  font-family: 'Graphik', sans-serif;
  font-weight: 700; }

/* -----------------------------------------------------
Sizes
----------------------------------------------------- */
.font-6 {
  font-size: 0.375rem; }

.font-8 {
  font-size: 0.5rem; }

.font-10 {
  font-size: 0.625rem; }

.font-12 {
  font-size: 0.75rem; }

.font-14 {
  font-size: 0.875rem; }

.font-16, .cd-horizontal-timeline .events a {
  font-size: 1rem; }

.font-18, .listing .listing-anchor:hover .hidden-details, input, textarea, select, option, input::placeholder, textarea::placeholder, select::placeholder, option::placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, option:-ms-input-placeholder, input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, option::-ms-input-placeholder {
  font-size: 1.125rem; }

.font-20 {
  font-size: 1.25rem; }

.font-22 {
  font-size: 1.375rem; }

.font-24 {
  font-size: 1.5rem; }

.font-26 {
  font-size: 1.625rem; }

.font-28 {
  font-size: 1.75rem; }

.font-30 {
  font-size: 1.875rem; }

.font-32 {
  font-size: 2rem; }

.font-38 {
  font-size: 2.375rem; }

.font-40 {
  font-size: 2.5rem; }

.font-40 {
  font-size: 2.5rem; }

.font-42 {
  font-size: 2.625rem; }

.font-46 {
  font-size: 2.875rem; }

.font-48 {
  font-size: 3rem; }

.font-60 {
  font-size: 3.75rem; }

.font-64 {
  font-size: 4rem; }

.font-80 {
  font-size: 5rem; }

.font-90 {
  font-size: 5.625rem; }

/* -----------------------------------------------------
Colors
----------------------------------------------------- */
.blue {
  color: #00A3DA !important; }

.navy {
  color: #005093 !important; }

.white {
  color: #FFFFFF !important; }
  .white::-webkit-input-placeholder {
    /* Edge */
    color: #FFFFFF; }
  .white:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF; }
  .white::placeholder {
    color: #FFFFFF; }

.black {
  color: #000000 !important; }

.grey {
  color: #F2F5F7 !important; }

.bgBlue {
  background-color: #00A3DA; }

.bgNavy {
  background-color: #005093; }

.bgWhite {
  background-color: #FFFFFF; }

.bgBlack {
  background-color: #000000; }

.bgGrey {
  background-color: #F2F5F7; }

.gradient-left {
  background: linear-gradient(to left, #005093, #00A3DA); }

.gradient-right {
  background: linear-gradient(to right, #005093, #00A3DA); }

.gradient-buttom {
  background: linear-gradient(#005093, #00A3DA); }

.gradient-top {
  background: linear-gradient(#00A3DA, #005093); }

.gradient-txt {
  background: linear-gradient(rgba(0, 0, 0, 0), black); }

body {
  font-family: 'Graphik', sans-serif;
  overflow-x: hidden;
  width: 100vw; }

.btn {
  width: 327px;
  border: 1px solid #000000; }
  .btn.btn-bigger {
    width: 360px; }
    .btn.btn-bigger.p-lg-absolute {
      bottom: -28px;
      right: 50px; }

.automotive, .innovation, .healthcare, .financial {
  color: #00AF77; }
  .automotive.active, .innovation.active, .healthcare.active, .financial.active {
    color: #FFFFFF;
    background: #00AF77; }

.retail {
  color: #F46251; }
  .retail.active {
    color: #FFFFFF;
    background: #F46251; }

.education {
  color: #00A3DA; }
  .education.active {
    color: #FFFFFF;
    background: #00A3DA; }

.estate {
  color: #B863C6; }
  .estate.active {
    color: #FFFFFF;
    background: #B863C6; }

.tag {
  padding: 8px 16px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 19px;
  line-height: 100%; }
  .tag.automotive, .tag.innovation, .tag.healthcare, .tag.financial {
    color: #FFFFFF;
    background: #00AF77;
    border: 1px solid #00AF77; }
  .tag.retail {
    color: #FFFFFF;
    background: #F46251;
    border: 1px solid #F46251; }
  .tag.education {
    color: #FFFFFF;
    background: #00A3DA;
    border: 1px solid #00A3DA; }
  .tag.estate {
    color: #FFFFFF;
    background: #B863C6;
    border: 1px solid #B863C6; }

/* -----------------------------------------------------
Styles
----------------------------------------------------- */
.rotate {
  transform: rotate(45deg); }

.translate {
  transform: rotate(45deg) translateY(50%); }

.w-50-fit {
  width: calc(50% - 4px);
  display: inline-block; }

.w-10 {
  width: calc( 10% - 3px);
  display: inline-block; }

.w-20 {
  width: calc( 20% - 3px);
  display: inline-block; }

.w-30 {
  width: calc( 30% - 3px) !important;
  display: inline-block; }

.w-40 {
  width: calc( 40% - 3px) !important;
  display: inline-block; }

.w-60 {
  width: calc( 60% - 3px) !important;
  display: inline-block; }

.w-70 {
  width: calc( 70% - 3px);
  display: inline-block; }

.h-70 {
  height: calc( 70% - 3px); }

.w-80 {
  width: calc( 80% - 3px);
  display: inline-block; }

.w-90 {
  width: calc( 90% - 3px);
  display: inline-block; }

.img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.img-wrapper.no-dark-overlay::after {
  display: none; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }
  .p-absolute.top-left {
    top: 0;
    left: 0;
    bottom: initial; }
  .p-absolute.top-right {
    top: 0;
    right: 0;
    bottom: initial; }
  .p-absolute.bottom-left {
    bottom: 0;
    left: 0;
    top: initial; }
  .p-absolute.bottom-right {
    bottom: 0;
    right: 0;
    top: initial; }
  .p-absolute.center-y {
    top: 50%;
    transform: translateY(-50%); }
  .p-absolute.center-x {
    left: 50%;
    transform: translateX(-50%); }
  .p-absolute.center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .p-absolute.right {
    right: 0; }
  .p-absolute.left {
    left: 0; }

.p-lg-absolute {
  position: absolute; }
  .p-lg-absolute.top-left {
    top: 0;
    left: 0;
    bottom: initial; }
  .p-lg-absolute.top-right {
    top: 0;
    right: 0;
    bottom: initial; }
  .p-lg-absolute.bottom-left {
    bottom: 0;
    left: 0;
    top: initial; }
  .p-lg-absolute.bottom-right {
    bottom: 0;
    right: 0;
    top: initial; }
  .p-lg-absolute.center-y {
    top: 50%;
    transform: translateY(-50%); }
  .p-lg-absolute.center-x {
    left: 50%;
    transform: translateX(-50%); }
  .p-lg-absolute.center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .p-lg-absolute.right {
    right: 0; }
  .p-lg-absolute.left {
    left: 0; }

.object-fit-cover {
  object-fit: cover; }

.object-fit-contain {
  object-fit: contain; }

.cubicTransition, a, button, .listing .listing-anchor .listing-hover, .listing .listing-anchor .hidden-details, main .mySwiper2, main .mySwiper2 .swiper-slide .state-content, .mySwiper .swiper-slide .slide-hover-content img, .mySwiper .swiper-slide .slide-hover-content p, .home-page header, .home-page .initial-state .img-wrapper, .home-page main .initial-state .state-content, .home-page .fixed-bottom .accordion, .search, .scroll-to-tabs {
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }

.rect.s6 {
  width: 0.375rem;
  height: 0.375rem; }

.rect.s8 {
  width: 0.5rem;
  height: 0.5rem; }

.rect.s12 {
  width: 0.75rem;
  height: 0.75rem; }

.rect.s16 {
  width: 1rem;
  height: 1rem; }

.rect.s20 {
  width: 1.25rem;
  height: 1.25rem; }

.rect.s28 {
  width: 1.75rem;
  height: 1.75rem; }

.rect.s30 {
  width: 1.875rem;
  height: 1.875rem; }

.rect.s40 {
  width: 2.5rem;
  height: 2.5rem; }

.rect.s48 {
  width: 3rem;
  height: 3rem; }

.rect.s60 {
  width: 3.75rem;
  height: 3.75rem; }

.rect.s80 {
  width: 5rem;
  height: 5rem; }

.rect.s90 {
  width: 5.625rem;
  height: 5.625rem; }

.half-opacity {
  opacity: .5; }

.px-8 {
  padding-right: 2.25rem;
  padding-left: 2.25rem; }

.px-16 {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }

.m-top-200 {
  margin-top: 200px; }

.p-top-48 {
  padding-top: 48px; }

.py-200 {
  padding: 200px 0; }

.py-80 {
  padding: 160px 0; }

.py-80 {
  padding: 80px 0; }

.px-15 {
  padding: 0 12px; }

.no-bg {
  background-color: transparent !important; }

a, button {
  opacity: 1; }
  a:hover, button:hover {
    opacity: .5; }

button {
  padding: 8px 16px;
  letter-spacing: 2px; }
  button img {
    width: 0.5rem;
    height: 0.5rem;
    object-fit: contain;
    margin-top: .4rem;
    margin-bottom: .4rem; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.accordion-social {
  width: 25px;
  height: 25px; }

.square {
  padding-top: 100%; }

.rectangle {
  padding-top: 48.5%; }

.rectangle-v {
  padding-top: 150%; }

.between-sizes {
  padding-top: 65%; }

.bigger-between-sizes {
  padding-top: 73%; }

.swiper-pagination-progressbar {
  height: 8px !important;
  border-radius: 3px;
  overflow: hidden; }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #005093;
    border-radius: 3px; }

.listing {
  height: 100%; }
  .listing .listing-anchor .listing-hover {
    opacity: 0;
    visibility: hidden; }
    .listing .listing-anchor .listing-hover .low-opacity {
      opacity: 0.2;
      bottom: 20%;
      left: -5%; }
  .listing .listing-anchor .hidden-details {
    opacity: 0;
    visibility: hidden;
    font-size: 0; }
  .listing .listing-anchor:hover {
    opacity: 1; }
    .listing .listing-anchor:hover .listing-hover {
      opacity: 1;
      visibility: visible; }
    .listing .listing-anchor:hover .hidden-details {
      opacity: 1;
      visibility: visible; }

.input-wrapper {
  min-height: 50px; }
  .input-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #00A3DA; }

.grey-patern {
  position: absolute;
  top: 60%;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1; }
  .grey-patern::after {
    display: none; }
  .grey-patern.home-patern {
    top: 60%;
    left: 50%;
    transform: translateX(-50%); }
  .grey-patern.article-patern {
    top: 36%;
    right: 0;
    overflow: hidden; }
    .grey-patern.article-patern img {
      transform: translateX(30%); }
  .grey-patern.about-patern {
    left: 0; }
    .grey-patern.about-patern img {
      transform: translateX(-30%); }

.tooltip-inner {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px; }

.tooltip-arrow:before {
  border-top-color: #FFFFFF !important; }

.hideItem {
  /* You can play with the seconds to change the "animation" */
  animation: hideItem .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: none; }

.showItem {
  /* You can play with the seconds to change the "animation" */
  animation: showItem .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: block; }

@keyframes hideItem {
  0% {
    transform: scale(1);
    display: block; }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
    display: none; } }

@keyframes showItem {
  0% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
    display: none; }
  100% {
    transform: scale(1);
    display: block; } }

.clipped-images img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: translate(-50%, -50%); }
  .clipped-images img:first-child {
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%; }
  .clipped-images img:nth-child(2), .clipped-images img:nth-child(3) {
    width: 250px;
    height: 250px; }
  .clipped-images img:nth-child(2) {
    top: calc(50% - 125px - 10px);
    left: calc(50% + 250px + 10px); }
  .clipped-images img:nth-child(3) {
    top: calc(50% + 125px + 10px);
    left: calc(50% + 250px + 10px); }

@media (min-width: 992px) and (max-width: 1440px) {
  .font-80 {
    font-size: 4rem; } }

@media (min-width: 100px) and (max-width: 1000px) {
  .py-200 {
    padding: 20px 0; }
  .p-lg-absolute {
    position: relative; }
  .w-80, .w-70, .w-60, .w-50, .w-40, .w-30, .w-20 {
    width: 100% !important; }
    .w-80.state-content, .w-70.state-content, .w-60.state-content, .w-50.state-content, .w-40.state-content, .w-30.state-content, .w-20.state-content {
      width: calc(100% - 30px) !important; }
  header .w-10 {
    width: calc( 30% - 3px) !important;
    display: inline-block; }
  header .w-80 {
    width: calc( 80% - 3px) !important;
    display: inline-block; }
  .rectangle, .rectangle-v, .between-sizes, .bigger-between-sizes {
    padding-top: 100%; }
  .font-32 {
    font-size: 1.5rem; }
  .font-60 {
    font-size: 2rem; }
  .font-64 {
    font-size: 2rem; }
  .font-80 {
    font-size: 2.3rem; }
  /* $s14: 0.75rem;
    $s16: 0.875rem;
    $s18: 1rem;
    $s20: 1.125rem;
    $s22: 1.25rem;
    $s24: 1.375rem;
    $s26: 1.5rem;
    $s28: 1.625rem;
    $s30: 1.75rem;
    $s32: 1.875rem;
    $s38: 2rem;
    $s40: 2.375rem;
    $s42: 2.5rem;
    $s46: 2.625rem;
    $s48: 2.875rem;
    $s60: 3rem;
    $s64: 3.75rem;
    $s80: 4rem;
    $s90: 5rem; */
  .rect.s8 {
    width: 0.375rem;
    height: 0.375rem; }
  .rect.s12 {
    width: 0.5rem;
    height: 0.5rem; }
  .rect.s16 {
    width: 0.75rem;
    height: 0.75rem; }
  .rect.s20 {
    width: 1rem;
    height: 1rem; }
  .rect.s28 {
    width: 1.25rem;
    height: 1.25rem; }
  .rect.s30 {
    width: 1.625rem;
    height: 1.625rem; }
  .rect.s40 {
    width: 1.875rem;
    height: 1.875rem; }
  .rect.s48 {
    width: 2.5rem;
    height: 2.5rem; }
  .rect.s60 {
    width: 3rem;
    height: 3rem; }
  .rect.s80 {
    width: 3.75rem;
    height: 3.75rem; }
  .rect.s90 {
    width: 5rem;
    height: 5rem; } }

@media (max-width: 575.98px) {
  .clipped-images img:first-child {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%; }
  .clipped-images img:nth-child(2), .clipped-images img:nth-child(3) {
    width: 100px;
    height: 100px; }
  .clipped-images img:nth-child(2) {
    top: calc(50% - 50px - 10px);
    left: calc(50% + 100px + 10px); }
  .clipped-images img:nth-child(3) {
    top: calc(50% + 50px + 10px);
    left: calc(50% + 100px + 10px); }
  .btn.btn-bigger {
    width: 100%; }
    .btn.btn-bigger.p-absolute {
      bottom: inherit;
      right: inherit; } }

body {
  min-height: 100%; }

header {
  transform: translateY(0);
  z-index: 1033 !important; }
  header .navbar-nav .nav-link {
    position: relative;
    color: #000000; }
    header .navbar-nav .nav-link.active:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      background-color: #005093; }

main {
  height: 100vh; }
  main .state {
    height: 100vh; }
  main .state-content {
    left: 10%; }
  main .home-swiper-mobile, main .mySwiper2 {
    height: 120vh; }
    main .home-swiper-mobile .swiper-slide .img-wrapper, main .mySwiper2 .swiper-slide .img-wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
  main .mySwiper2 {
    opacity: 0;
    visibility: hidden; }
    main .mySwiper2.translate-x {
      opacity: 1;
      visibility: visible; }
    main .mySwiper2 .swiper-slide .state-content {
      transform: translateY(-30%) translateX(-150%);
      opacity: 0;
      visibility: hidden; }
    main .mySwiper2 .swiper-slide.swiper-slide-active .state-content {
      transform: translateY(-30%);
      opacity: 1;
      visibility: visible; }
  main .mySwiper .swiper-slide {
    opacity: 0;
    transform: translateY(200px) rotateY(180deg); }
    main .mySwiper .swiper-slide.t {
      animation: fade 1s forwards; }

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(200px) rotateY(180deg); }
  100% {
    opacity: 1;
    transform: translateY(200px) rotateY(0); } }
  main .initial-state .img-wrapper {
    transform: translateX(0); }

.v-swiper-wrapper {
  max-height: 984px;
  overflow: hidden; }
  .v-swiper-wrapper .swiper-container, .v-swiper-wrapper .swiper-wrapper, .v-swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%; }

.fixed-bar {
  position: absolute;
  top: calc(100vh - 52px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

/* $rectRatio: 150px;
$rectRatioMax: 210px; // $rectRatio + 25px on each side
$rectRatioMin: 105px; */
.mySwiper {
  height: 90vh;
  width: 60vw; }
  .mySwiper .swiper-slide {
    width: 120px !important;
    height: 120px !important;
    position: absolute;
    margin-top: 30px;
    margin-right: 0 !important;
    cursor: pointer; }
    .mySwiper .swiper-slide:before {
      position: absolute;
      display: block;
      content: "";
      width: 120px;
      height: 120px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
      background: rgba(255, 255, 255, 0.16); }
    .mySwiper .swiper-slide .swiper-slide-inner {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block; }
      .mySwiper .swiper-slide .swiper-slide-inner:before {
        position: absolute;
        display: block;
        content: "";
        width: 120px;
        height: 120px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #FFFFFF;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg); }
    .mySwiper .swiper-slide:first-child {
      top: 0;
      left: 50%; }
    .mySwiper .swiper-slide:nth-child(2) {
      top: calc(170px / 2);
      left: calc(50% - 85px); }
    .mySwiper .swiper-slide:nth-child(3) {
      top: calc(170px / 2);
      left: calc(50% + 85px); }
    .mySwiper .swiper-slide:nth-child(4) {
      top: 170px;
      left: calc(50% - 170px); }
    .mySwiper .swiper-slide:nth-child(5) {
      top: 170px;
      left: calc(50% + 170px); }
    .mySwiper .swiper-slide:nth-child(6) {
      top: calc(170px + 85px);
      left: calc(50% - calc(170px + 85px)); }
    .mySwiper .swiper-slide:nth-child(7) {
      top: calc(170px + 85px);
      left: calc(50% + calc(170px + 85px)); }
    .mySwiper .swiper-slide:nth-child(8) {
      top: calc(170px + 85px);
      left: calc(50% - 85px); }
    .mySwiper .swiper-slide:nth-child(9) {
      top: calc(170px + 85px);
      left: calc(50% + 85px); }
    .mySwiper .swiper-slide:nth-child(10) {
      top: calc(170px * 2);
      left: 50%; }
    .mySwiper .swiper-slide:nth-child(11) {
      top: calc(170px + calc(170px + 85px));
      left: calc(50% - 85px); }
    .mySwiper .swiper-slide:nth-child(12) {
      top: calc(170px + calc(170px + 85px));
      left: calc(50% + 85px); }
    .mySwiper .swiper-slide .slide-hover-content img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      transform: scale(1.4); }
    .mySwiper .swiper-slide .slide-hover-content p {
      color: #FFFFFF; }
    .mySwiper .swiper-slide .slide-hover-content img, .mySwiper .swiper-slide .slide-hover-content p {
      opacity: 0;
      visibility: hidden; }
    .mySwiper .swiper-slide:hover .slide-hover-content img, .mySwiper .swiper-slide:hover .slide-hover-content p {
      opacity: 1;
      visibility: visible; }
    .mySwiper .swiper-slide.active:before {
      background-color: #FFFFFF; }
    .mySwiper .swiper-slide.active .slide-hover-content img {
      opacity: 0;
      visibility: hidden; }
    .mySwiper .swiper-slide.active .slide-hover-content p {
      color: #000000;
      opacity: 1;
      visibility: visible; }

.tab-pane {
  max-height: 984px; }
  .tab-pane .swiper-container {
    width: 100%;
    height: 100%; }

.fixed-bottom .accordion {
  opacity: 1; }

.fixed-bottom .accordion-button::after {
  background-image: url("../images/static/burger.svg");
  background-size: cover; }

.fixed-bottom .accordion-button:not(.collapsed)::after {
  background-image: url("../images/static/close.svg"); }

.fixed-bottom .accordion-collapse {
  background-image: url("../images/dynamic/accordion-patern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .fixed-bottom .accordion-collapse .accordion-patern {
    height: 100%;
    top: 0; }

.less img {
  transform: rotate(180deg); }

.partners-tabs .nav-tabs .nav-link {
  border-bottom: 3px solid transparent;
  letter-spacing: 1px;
  color: #000000; }
  .partners-tabs .nav-tabs .nav-link.active {
    border: 0;
    border-bottom: 3px solid grey;
    opacity: 1;
    color: #00A3DA; }

.partners-logo {
  border: 1px solid rgba(0, 0, 0, 0.16); }
  .partners-logo.active {
    border: 3px solid #00A3DA; }

.mySwiper4 {
  height: 985px !important;
  overflow: hidden; }
  .mySwiper4 .swiper-pagination-bullet {
    width: 4px;
    height: 50px;
    border-radius: 0;
    background: #005093; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 9%; }

.map-pins-list a {
  background-color: rgba(0, 80, 147, 0.1);
  display: none; }
  .map-pins-list a.active {
    display: block; }

.logo-shape {
  /* left: 53.9%;
    position: absolute;
    top: 61.5%;
    transform: translate(-50%, -50%);
    width: 44.2%;
    height: 73.5%; */
  left: 54%;
  position: absolute;
  top: 45.7%;
  transform: translate(-50%, -50%);
  width: 680px;
  height: 595px; }
  .logo-shape img, .logo-shape svg {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite; }

.hover-patern {
  left: -16%;
  bottom: -10px; }

@keyframes dash {
  from {
    stroke-dashoffset: 822; }
  to {
    stroke-dashoffset: 0; } }

.mySwiper5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

footer {
  z-index: 1031;
  clip-path: polygon(0% 45px, calc(50% - 45px) 45px, 50% 0, calc(50% + 45px) 45px, 100% 45px, 100% 100%, 0% 100%); }

.home-page header {
  transform: translateY(-100%); }
  .home-page header.loaded {
    transform: translateY(0);
    transition-delay: 1s; }
  .home-page header .navbar-nav .nav-link {
    color: #FFFFFF; }

.home-page .initial-state .img-wrapper {
  transform: translateX(-100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
  .home-page .initial-state .img-wrapper.loaded {
    transform: translateX(0); }

.home-page main .state-content {
  top: 30%; }

.home-page main .initial-state .state-content {
  top: 30%;
  transform: translateY(-30%) translateX(-150%); }
  .home-page main .initial-state .state-content.loaded {
    transform: translateY(-30%) translateX(0);
    transition-delay: 1s; }

.home-page .fixed-bottom .accordion {
  opacity: 0; }
  .home-page .fixed-bottom .accordion.loaded {
    opacity: 1;
    transition-delay: 1s; }

.home-page main {
  height: 120vh; }
  .home-page main .state {
    height: 120vh; }

.fixed-bottom .accordion-body {
  max-height: 90vh;
  overflow-y: scroll; }

.modalSwiper2 {
  height: 80%;
  width: 80%;
  margin-left: 0; }

.modalSwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 20px 0; }

.video-modal .modal-dialog {
  max-width: 90vw;
  margin-left: 10vw;
  margin-right: 0; }

.video-modal .modal-body {
  height: 90vh; }

.video-modal .modal-header {
  border-bottom: none; }

.video-modal .btn-close {
  position: absolute;
  top: 20px;
  right: 20%;
  z-index: 1000; }

.video-modal .swiper-slide video {
  width: 100%;
  height: 82%;
  object-fit: cover; }

.video-modal .swiper-slide-thumb-active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.video-modal .swiper-button-next, .video-modal .swiper-button-prev {
  display: none; }

.modal-backdrop {
  background-color: #FFFFFF; }
  .modal-backdrop.show {
    opacity: 1; }

.first-fold {
  margin-top: 200px; }

.filter {
  color: #000000;
  border-bottom: 3px solid transparent; }
  .filter.active {
    color: #00A3DA;
    border-bottom: 3px solid grey; }

.faq .accordion-button {
  letter-spacing: 0; }
  .faq .accordion-button::after {
    background-image: url("../images/static/plus.svg"); }
  .faq .accordion-button:not(.collapsed)::after {
    background-image: url("../images/static/minus.svg");
    transform: none; }

.search {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1031;
  position: absolute;
  transform: translateX(100%); }
  .search.open {
    transform: translateX(0); }
  .search .bgWhite, .search .bgBlack {
    height: 94px; }
  .search .gradient-right {
    height: calc(100vh - 94px);
    overflow-y: scroll; }
  .search .accordion .form-check-input {
    background-color: transparent;
    border-color: #FFFFFF; }
    .search .accordion .form-check-input:checked {
      background-color: #FFFFFF;
      background-image: url("../images/static/close-blue.svg");
      background-position: 2px 2px;
      background-size: calc(100% - 4px), calc(100% - 4px); }
  .search .accordion .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.swiper-desktop {
  display: block; }

.swiper-mobile {
  display: none; }

textarea {
  min-height: 170px !important; }

input, textarea, select, option {
  color: #B0C0C5 !important; }
  input::placeholder, textarea::placeholder, select::placeholder, option::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B0C0C5 !important; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, option:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #B0C0C5 !important; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, option::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #B0C0C5 !important; }

.error-page {
  height: 100vh; }

.scroll-to-tabs {
  transform: translateY(-53px); }
  .scroll-to-tabs.bgWhite {
    transform: translateY(0px); }
  .scroll-to-tabs .progress {
    border-radius: 0;
    background-color: transparent;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .scroll-to-tabs .progress .progress-bar {
      font-size: 0;
      background-color: #005093; }
  .scroll-to-tabs .scroll-to-tabs-anchor {
    color: #000000; }
    .scroll-to-tabs .scroll-to-tabs-anchor.active {
      color: #005093; }

.swiper-franction .swiper-pagination {
  position: relative;
  top: 0;
  bottom: inherit; }
  .swiper-franction .swiper-pagination .swiper-pagination-current {
    padding-right: 20px; }
  .swiper-franction .swiper-pagination .swiper-pagination-total {
    padding: 0 20px; }

.swiper-franction .swiper-button-next, .swiper-franction .swiper-button-prev {
  left: inherit;
  right: inherit; }
  .swiper-franction .swiper-button-next:after, .swiper-franction .swiper-button-prev:after {
    width: 100%;
    height: 100%;
    font-size: inherit;
    color: #005093; }

.swiper-franction .swiper-button-next:after {
  content: url("../images/static/arrow-right-navy.svg"); }

.swiper-franction .swiper-button-prev:after {
  content: url("../images/static/arrow-left-navy.svg"); }

.program-swiper .swiper-button-next:after {
  content: url("../images/static/arrow-right-navy.svg"); }

.program-swiper .swiper-button-prev:after {
  content: url("../images/static/arrow-left-navy.svg"); }

.program-swiper .swiper-button-next, .program-swiper .swiper-button-prev {
  top: 20%; }

.cd-horizontal-timeline {
  opacity: 0;
  height: 776px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1; }
  .cd-horizontal-timeline .timeline {
    height: 12%;
    z-index: 10; }
  .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    /* &::after, &::before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            height: 100%;
            width: 20px;
        }
        &::before {
            left: 0;
            background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
            background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
        }
        &::after {
            right: 0;
            background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
            background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
        } */ }
  .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    z-index: 1;
    /* width will be set using JavaScript */
    width: 100% !important;
    position: relative;
    top: 18px;
    height: calc(100% - 18px); }
    .cd-horizontal-timeline .events:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.5); }
    .cd-horizontal-timeline .events a {
      z-index: 2;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      /* fix bug on Safari - text flickering while timeline translates */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      position: relative;
      left: 0 !important;
      opacity: 0.5; }
      .cd-horizontal-timeline .events a::after {
        /* this is used to create the event spot */
        content: '';
        position: absolute;
        left: 50%;
        right: auto;
        -webkit-transform: rotate(45deg) translateX(-50%);
        -moz-transform: rotate(45deg) translateX(-50%);
        -ms-transform: rotate(45deg) translateX(-50%);
        -o-transform: rotate(45deg) translateX(-50%);
        transform: rotate(45deg) translateX(-50%);
        top: -17px;
        height: 8px;
        width: 8px;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-transition: background-color 0.3s, border-color 0.3s;
        -moz-transition: background-color 0.3s, border-color 0.3s;
        transition: background-color 0.3s, border-color 0.3s; }
      .cd-horizontal-timeline .events a.selected {
        pointer-events: none;
        opacity: 1; }
        .cd-horizontal-timeline .events a.selected::after {
          background-color: #FFFFFF;
          border-color: #FFFFFF; }
      .cd-horizontal-timeline .events a.older-event::after {
        border-color: #FFFFFF; }
    .cd-horizontal-timeline .events li {
      display: inline-block;
      padding: 0 20px;
      position: relative; }
    .cd-horizontal-timeline .events .range-container {
      cursor: pointer;
      padding: 12px 0;
      padding-left: 68px;
      width: auto;
      position: relative; }
      .cd-horizontal-timeline .events .range-container li {
        opacity: 0;
        visibility: hidden;
        width: 0;
        padding: 0; }
      .cd-horizontal-timeline .events .range-container:before {
        content: '';
        position: absolute;
        top: -11px;
        left: 5px;
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        transform: rotate(45deg); }
      .cd-horizontal-timeline .events .range-container:hover, .cd-horizontal-timeline .events .range-container.active {
        width: auto; }
        .cd-horizontal-timeline .events .range-container:hover li, .cd-horizontal-timeline .events .range-container.active li {
          opacity: 1;
          visibility: visible;
          width: auto;
          padding: 0 20px; }
  .cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }
  .cd-horizontal-timeline .events-content {
    width: 100%;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
    /* li > * {
            max-width: 800px;
            margin: 0 auto;
        } */ }
    .cd-horizontal-timeline .events-content li {
      position: absolute;
      z-index: 1;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0;
      -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out; }
      .cd-horizontal-timeline .events-content li.selected {
        /* visible event content */
        position: relative;
        z-index: 2;
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
      .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
        -webkit-animation-name: cd-enter-right;
        -moz-animation-name: cd-enter-right;
        animation-name: cd-enter-right; }
      .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
        -webkit-animation-name: cd-enter-left;
        -moz-animation-name: cd-enter-left;
        animation-name: cd-enter-left; }
      .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
        -webkit-animation-direction: reverse;
        -moz-animation-direction: reverse;
        animation-direction: reverse; }
    .cd-horizontal-timeline .events-content .event-content {
      top: 40%; }

.timeline-arrows-wrapper {
  top: 36%;
  z-index: 2; }
  .timeline-arrows-wrapper .disabled {
    opacity: .5;
    cursor: not-allowed; }

.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .cd-timeline-navigation a::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/cd-arrow.svg) no-repeat 0 0; }
  .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg); }
  .cd-timeline-navigation a.next {
    right: 0; }
  .cd-timeline-navigation a.inactive {
    cursor: not-allowed; }
    .cd-timeline-navigation a.inactive::after {
      background-position: 0 -16px; }

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #FFFFFF;
  border-color: #FFFFFF; }

.no-touch .cd-timeline-navigation a:hover {
  border-color: #FFFFFF; }

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #FFFFFF; }

@media (min-width: 992px) and (max-width: 1440px) {
  .mySwiper {
    height: 120vh; }
  .mySwiper4 {
    height: 520px !important; }
  .logo-shape {
    left: 57.3%;
    top: 54.5%; }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop'; } }

@media (min-width: 100px) and (max-width: 1000px) {
  .swiper-desktop {
    display: none; }
  .swiper-mobile {
    display: block; }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 5%; }
  .video-modal .modal-dialog {
    max-width: 100vw; }
  main .state-content {
    left: 15px; }
  .first-fold {
    margin-top: 100px; }
  .navbar-collapse-menu {
    position: absolute;
    top: -12px;
    right: -28px;
    width: calc(100vw + 12px);
    background: white;
    height: calc(100vh + 12px); }
  header.open {
    background: #FFFFFF; }
  header .navbar-nav .nav-link {
    color: #005093 !important;
    text-align: center; }
    header .navbar-nav .nav-link.black {
      color: #000000 !important; }
    header .navbar-nav .nav-link.white {
      color: #FFFFFF !important; }
  header .navbar-collapse-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navbar-toggler {
    z-index: 1; }
  .partners-tabs .bgGrey {
    overflow-x: scroll; }
  .partners-tabs .nav-tabs {
    width: 700px; }
  .patern-mobile-main {
    top: 50px;
    right: -100px;
    width: 100%;
    height: 50vh;
    z-index: 100;
    object-fit: contain; }
  .home-page main .state-content {
    top: 40%; }
  .home-page header.open {
    background: #000000; }
  .home-swiper-mobile .swiper-pagination {
    bottom: 28%;
    text-align: left;
    padding: 0 15px; }
    .home-swiper-mobile .swiper-pagination .swiper-pagination-bullet {
      width: 30px;
      height: 4px;
      border-radius: 0; }
      .home-swiper-mobile .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #FFFFFF; }
  .more-tags {
    display: none; }
  .tags-listing {
    overflow-x: scroll; }
    .tags-listing ul {
      width: 1400px; }
  .filters-tabs {
    overflow-x: scroll; }
    .filters-tabs .filters {
      width: 810px !important; }
  .navbar-stay {
    width: 20%;
    position: absolute;
    top: 0;
    right: 60px; }
    .navbar-stay .navbar-collapse {
      display: block; }
      .navbar-stay .navbar-collapse .navbar-nav {
        display: inline-block; }
        .navbar-stay .navbar-collapse .navbar-nav .nav-item {
          display: inline-block; }
  .search {
    overflow-y: scroll;
    transform: translateX(0);
    opacity: 0;
    visibility: hidden; }
    .search.open {
      opacity: 1;
      visibility: visible; }
    .search .gradient-right {
      height: auto; }
  .cd-horizontal-timeline .w-70 {
    width: calc(100% - 24px) !important; }
  .cd-horizontal-timeline .events {
    width: 1200px !important; }
  .cd-horizontal-timeline .events-wrapper {
    overflow-x: scroll; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .mySwiper4 {
    height: 450px !important; } }

@media (max-width: 575.98px) {
  .mySwiper4 {
    height: 422px !important; }
  .scroll-to-tabs {
    transform: translateY(-74px); } }

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }

@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }

@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
